%h2 Edit Language
%div{:style=>"height:350px; overflow-y:scroll; overflow-x:hidden;"}
  .box.sentence
    = form_for @language, :url => {:action => :update} do |d|
      = render "shared/error_messages", :target => @language  
      = d.text_field :acronym
      = d.text_field :name

 
      %div{:style => "width:150px; float:left;"}  
        = d.submit "update language"
