- content_for :parent do
  =# link_to 'Contact List', contacts_path
.box.contact
  %h2 New Client
  = form_for @client, :url => {:action => :create} do |c|
    = render "shared/error_messages", :target => @client
    %h3 Details
    = c.text_field :title
    = c.text_field :first_name
    = c.text_field :middle_name
    = c.text_field :last_name
    = c.select :suffix
    %br/
    = c.text_field :email
    =# c.select :email_type, Gigavine::Preferences.contact_detail_types
    = c.text_field :email2
    %br/
    %h3 Business Address:
    = c.text_field :business_street
    = c.text_field :business_city
    = c.text_field :business_state
    = c.text_field :business_postal_code
    = c.text_field :business_country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates'])

      %br/
    = c.submit