%script{type="text/javascript"}
  function pmsurl() {
  var fname = document.getElementById('gigaclient_first_name').value;
  var lname = document.getElementById('gigaclient_last_name').value;
  var url = fname.charAt(0) + lname + ".gigavine.com";
  document.getElementById('gigaclient_pms_url').value = url.toLowerCase();
  }


  function addEvent()
  {

  document.getElementById('myDiv').style.display = 'block';
  var ni = document.getElementById('myDiv');
  var numi = document.getElementById('theValue');
  var num_v = document.getElementById('theValue').value;
  var num = (document.getElementById("theValue").value -1)+ 2;
  numi.value = num;
  
 
  
  var divIdName = "my"+num+"Div";
  var newdiv = document.createElement('div');
  newdiv.setAttribute("id",divIdName);
  newdiv.innerHTML = "<table><tr><td>title:</td><td><input type='text' id='title[]' name='gigaclient[client_addresses_attributes]["+num_v+"][title]'></td></tr><tr><td>first_line:</td><td><input type='text' id='first_line[]' name='gigaclient[client_addresses_attributes]["+num_v+"][first_line]'></td></tr><tr><td>second_line:</td><td><input type='text' id='second_line[]' name= 'gigaclient[client_addresses_attributes]["+num_v+"][second_line]'></td></tr><tr><td>city:</td><td><input type='text' id='city[]' name= 'gigaclient[client_addresses_attributes]["+num_v+"][city]'></td></tr><tr><td>state:</td><td><input type='text' id='state[]' name= 'gigaclient[client_addresses_attributes]["+num_v+"][state]'></td></tr> <tr><td>zipcode:</td><td><input type='text' id='zipcode[]' name='gigaclient[client_addresses_attributes]["+num_v+"][zipcode]'></td></tr> <tr><td>country:</td><td><input type='text' id='country[]' name='gigaclient[client_addresses_attributes]["+num_v+"][country]'></td></tr><tr><td>po_box:</td><td><input type='text' id='po_box[]' name= 'gigaclient[client_addresses_attributes]["+num_v+"][po_box]'></td></tr>    <tr><td><a href=\"javascript:;\" onclick=\"removeEvent(\'"+divIdName+"\')\">Remove</a></td></tr></table>";
  ni.appendChild(newdiv);
  }
 
  function removeEvent(divNum)
  {
  var d = document.getElementById('myDiv');
  var olddiv = document.getElementById(divNum);
  d.removeChild(olddiv);
  var numi = document.getElementById('theValue');
  numi.value = numi.value - 1;
  }





.box.contact

  %h2 New Client
  = form_for @gigaclient, :url => admin_clients_path do |c|
    = render "shared/error_messages", :target => @gigaclient
    %h3 Details
    = c.text_field :title
    = c.text_field :first_name
    = c.text_field :last_name,:onblur => "pmsurl();"
 
    %br/
    = c.text_field :email
 
    %br/
  


    %br/
    %h3 Other Information:
    = c.text_field :pms_url,:readonly => :true
    .label Project Manager
    = text_field :gigaclient, :project_manager_id
    = c.text_field :company
    = c.text_field :web_page 
	
	
	
    %h3 Address:
    = c.fields_for :client_addresses do |m|  
      = m.text_field :title
      = m.text_field :first_line
      = m.text_field :second_line
      = m.text_field :city
      = m.text_field :state
      = m.text_field :zipcode
      = m.select :country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates']),:label => "Country"
      = m.text_field :po_box
      %input#theValue{:name => "theValue", :type => "hidden", :value => "1"}/
      %p
        %a{:href => "javascript:;", :onClick => "addEvent();"} Add More
      #myDiv
  
	  
	  
    %br/
    = c.submit "Create Client"