
 
/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1


      / form block wrapper
      .wrapper_form

        = form_for @gigaclient, :url => admin_clients_path do |c|
          / Lead form start
          .wrapper_form_inner
            - if @gigaclient.errors.any?
              .error_message
                %span
                  = render "shared/error_messages", :target => @gigaclient

            .form_head_highlight
              %span New Client
            .new_lead_block.fl_left
              / Title
              .title_width
                %label.fl_left.text_indent
                  Title
                  %span &nbsp;
                %br.clear_all/
                %label.fl_left.input_width_11.input_width_00.title
                  = select :gigaclient, :title, Gigavine::Preferences.suffixes 
                  -#%input{:title => "Try to make it hard to guess.", :type => "text"}/
                .clear_all
                .error_msg dd
              / Title End
              / First Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  First Name
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :first_name,:title => "Enter first name"

                .clear_all
                .error_msg dd
              / First Name end
              / Last Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Last Name
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :last_name,:onblur => "pmsurl();",:title => "Enter last name"
                .clear_all
                .error_msg dd
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Email
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :email,:title => "Enter your email"

                .clear_all
                .error_msg dd
              / First Name end
              / Last Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Sub Domain
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :pms_url,:readonly => :true
                .clear_all
                .error_msg dd
              / Last Name end
	      
	      
              / First Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Project Manager
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = text_field :gigaclient, :project_manager_id

                .clear_all
                .error_msg dd
              / Last Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Company
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :last_name,:onblur => "pmsurl();",:title => "Enter last name"
                  = c.text_field :company
                .clear_all
                .error_msg dd
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Web url
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :web_page,:title => "Enter your web url"
                .clear_all
                .error_msg dd
 


              / Email end
              .clear_all
          .clear_all
          / Status block end
 	  

          / Primary Contact start
          = c.fields_for :client_addresses do |m|  
            .wrapper_form_inner
              .form_head_highlight.form_other_information
                %span Address
              .new_lead_block.fl_left
                / First name
                .form_block_two.fl_left
                  %label.fl_left.text_indent Title
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :title
                  .clear_all
                  .error_msg dd
                / First name end
                / last name
                .form_block_two.fl_left
                  %label.fl_left.text_indent First Line
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :first_line
                  .clear_all
                  .error_msg dd
                / last name end
                .clear_all

                / email
                .form_block_two.fl_left
                  %label.fl_left.text_indent Second Line
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :second_line
                  .clear_all
                  .error_msg dd
                / email end
                / phone number
                .form_block_two.fl_left
                  %label.fl_left.text_indent City
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :city
                  .clear_all
                  .error_msg dd
                / phone number end
                .clear_all
                / job title	
                .form_block_two.fl_left
                  %label.fl_left.text_indent State
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :state
                  .clear_all
                  .error_msg dd
                / job title end
                / job title	
                .form_block_two.fl_left
                  %label.fl_left.text_indent zipcode
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = m.text_field :zipcode
                  .clear_all
                  .error_msg dd
                / job title end


                / email
                .form_block_two.fl_left
                  %label.fl_left.text_indent Country
                  %br.clear_all/
                  %label.fl_left.input_width_10
                    = m.select :country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates'])
                  .clear_all
                  .error_msg dd
                / email end

                .clear_all
              .clear_all


              .form_block_three.fl_left
                %label.fl_left.text_indent 
                %br.clear_all/
                %label.fl_left.input_create_lead
                  = submit_tag " "
                .clear_all
                .error_msg dd
              / City end

              .form_block_three.fl_left
                %label.fl_left.text_indent
                %br.clear_all/
                %label.fl_left.input_create_client
                  = link_to image_tag( '/images/new_page/cancel.png'), admin_clients_url
                .clear_all
                .error_msg dd
              / City end

              / Title End
              / Second line
          / Address form end
          .clear_all
      / form block wrapper
      .spacer.clear_all
        %span
    .clear_all

    .clear_all
  / content wrapper end
= render :partial => "admin/leads/leftmenu"
 
