
<p style="font:12px Arial, Helvetica, sans-serif;">
Dear <%= @user.username %>,
<br><br>
Congratulations, you succesfully registered with Nord Angila Education. Now you can login by using following details :
<br>
<a href="http://<%= @gigaclient.gigadomain.subdomain %>.gigavine.com/sign_in">http://<%= @gigaclient.gigadomain.subdomain %>.gigavine.com/sign_in</a>
<br><br>
Username: <%= @user.username %>
<br>
Password: <%= @user.password %>
<br><br>
If you have any questions, concerns or need support, you may contact us at:  <a href="mailto:support@gigavine.com">support@gigavine.com</a>
<br>
<br>

Best Regards, <br>
Nord Anglia Education<br>
</p>
