- content_for :parent do
  =# link_to 'Contact List', contacts_path
.box.contact
  %h2 New Lead
  = form_for @lead, :url => {:action => :create} do |c|
    = render "shared/error_messages", :target => @lead
    %h3 Details
    = c.text_field :title
    = c.text_field :first_name
    = c.text_field :last_name
    %br/
    = c.text_field :email
    %br/
    %h3 Business Address:
    = c.text_field :business_street
    = c.text_field :business_city
    = c.text_field :business_state
    = c.text_field :business_postal_code
    = c.text_field :business_country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates'])

      %br/
    = c.submit