.box.sentence
  %h3 Lead Details
  %div

    %span Name:
    = @lead.first_name + @lead.last_name
    %p
    %h4 Address:
    = @lead.street + "," if !@lead.street.blank?
    %br
    = @lead.city + "," if !@lead.city.blank?
    %br
    = @lead.state + "," if !@lead.state.blank?
    %br
    = @lead.country if !@lead.country.blank?
    
    %p
    %span Email:
    = @lead.email 
    
 


