.box.contact

 
  %h2 Edit Leads
  = form_for(:lead, :url => {:action => 'edit_leads'}) do
    = hidden_field_tag "leads_list", @list


    - @list.each_with_index do |lead,i|

      = render "shared/error_messages", :target => eval("@lead#{i}")
      - @lead = Lead.find(lead)
      %h3 
      %label Title

      = text_field eval(":lead#{i}"), :title,:style => "width:150px;height:10px;"
      %br/
      %label First Name
      = text_field eval(":lead#{i}"),:first_name,:style => "width:150px;height:10px;"



      %br/
      %label Last Name
      = text_field eval(":lead#{i}"),:last_name,:style => "width:150px;height:10px;"

	
      %br/
      %label Email
      = text_field eval(":lead#{i}"),:email,:style => "width:150px;height:10px;"

    
      %br/

    
      %h3 Address:
      %label First Line
      = text_field eval(":lead#{i}"),:first_line ,:style => "width:150px;height:10px;"
      %br/
      %label Second Line
      = text_field eval(":lead#{i}"),:second_line ,:style => "width:150px;height:10px;"
      %br/
      %label City
      = text_field eval(":lead#{i}"),:city ,:style => "width:150px;height:10px;"
      %br/
      %label State
      = text_field eval(":lead#{i}"),:state ,:style => "width:150px;height:10px;"
      %br/
      %label Zipcode
      = text_field eval(":lead#{i}"),:zipcode,:style => "width:150px;height:10px;" 
      %br/
      %label Country
      = select eval(":lead#{i}"),:country,country_options_for_select(:country, [@lead.country]),:label => "Country"
      %br/
      %label Po Box
      = text_field eval(":lead#{i}"),:po_box ,:style => "width:150px;height:10px;"
      %br/
      %h3 Other Information:
      %label Status
      = select eval(":lead#{i}"),:status, options_for_select(['Open','Closed','Qualified','Contacted'],:selected => @lead.status)
      %br/     
      %label Company      
      = text_field eval(":lead#{i}"),:company,:style => "width:150px;height:10px;"
      %br/
      %label Industry
      = select eval(":lead#{i}"),:industry, Gigavine::Preferences.industries,:style => "width:150px;height:10px;"
      %br/
      %label Turnover
      = select eval(":lead#{i}"),:turnover,Gigavine::Preferences.turnovers,:style => "width:150px;height:10px;"
      %br/
      %label Website
      = text_field eval(":lead#{i}"),:web_url,:label => "Website",:style => "width:150px;height:10px;"
      %br/
      %label Appointed To
      = text_field eval(":lead#{i}"),:appointed_to, :label => "Appointed To" ,:style => "width:150px;height:10px;"      
      %hr   
   
    %br/
    = submit_tag "Update Lead"