.box.contact

  %h2 New Lead
  = form_for @lead, :url => {:action => :update,:id => @lead.id} do |c|
    = render "shared/error_messages", :target => @lead
    %h3 Details
    = c.text_field :title
    = c.text_field :first_name
    = c.text_field :last_name
    = c.text_field :email
    
    %br/
    
    %h3  Address: 
    
    = c.text_field :first_line
    = c.text_field :second_line
    = c.text_field :city
    = c.text_field :state
    = c.text_field :zipcode
    = c.select :country,country_options_for_select(:country,[@lead.country]),:label => "Country"
    = c.text_field :po_box 
    %br/
    




    %br/
    = c.submit "Update Lead"