
 
/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1


      / form block wrapper
      .wrapper_form
        = form_for @lead, :url => {:action => :update,:id => @lead.id},:html => {:id => "myform"} do |c|
          / Lead form start
          .wrapper_form_inner
            - if @lead.errors.any?
              .error_message
                %span
                  = render "shared/error_messages", :target => @lead

            .form_head_highlight
              %span Update Lead
            .new_lead_block.fl_left
              / Title
              .title_width
                %label.fl_left.text_indent
                  Title
                  %span &nbsp;
                %br.clear_all/
                %label.fl_left.input_width_11.input_width_00.title
                  = select :lead, :title, Gigavine::Preferences.suffixes 
                  -#%input{:title => "Try to make it hard to guess.", :type => "text"}/
                .clear_all
                .error_msg dd
              / Title End
              / First Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  First Name
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :first_name,:title => "Enter first name"

                .clear_all
                .error_msg dd
              / First Name end
              / Last Name
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Last Name
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field  :last_name,:title => "Enter last name"
                .clear_all
                .error_msg dd
              / Last Name end
              .clear_all
              / Email
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Email
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :email,:title => "Enter email address"
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Phone No
                  %span &nbsp; 
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :phone,:title => "Enter phone number"
                .clear_all
                .error_msg dd
              / Email end
              .clear_all
          .clear_all
          / Lead form end
	  
          / Status block
          .wrapper_form_inner
            .form_head_highlight
              %span Status
            .new_lead_block.fl_left

              / First Name
              .form_block_two.fl_left
                %label.fl_left.text_indent Assigned to
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :appointed_to ,:title => "Assigned to"

                .clear_all
                .error_msg dd
              / First Name end
              / Status
              .form_block_two.fl_left
                %label.fl_left.text_indent Status
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00
                  = c.select :status,Gigavine::Preferences.lead_status,:title => "Enter status"
                .clear_all
                .error_msg dd
              / Status end
              .clear_all
              / Source
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Source
                  %span *
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00
                  = c.select :source_type,Gigavine::Preferences.lead_source,:title => "Please select source",:include_blank => 'Select Source'
              .form_block_two.fl_left
                %label.fl_left.text_indent
                  Lead Score
                  %span &nbsp;  
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00.title
                  = c.select :pms_url,Gigavine::Preferences.lead_score,:title => "Please select score",:include_blank => 'Select'
                .clear_all
                .error_msg dd
              / Email end
              .clear_all
          .clear_all
          / Status block end
          / -------------------------------Contact information start-------------------------------
          .wrapper_form_inner
            .form_head_highlight.form_other_information
              %span Contact Information
            .new_lead_block.fl_left
              / Title
              %label.fl_left.text_indent Company
              %br.clear_all/
              %label.fl_left.input_width_13
                = c.text_field  :company,:title => "Enter company name"
              .clear_all
              / Title End
              / Second line
              .form_block_two.fl_left
                %label.fl_left.text_indent Industry
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00
                  = c.select :industry, Gigavine::Preferences.industries
              / Second line end
              .clear_all
              / Country
              .form_block_two.fl_left
                %label.fl_left.text_indent Turnover
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00
                  = c.select :turnover,Gigavine::Preferences.turnovers
              / Country end
              / City
              .form_block_two.fl_left
                %label.fl_left.text_indent Website
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :web_url,:title => "Enter website name"
              / City end
              .clear_all

              / City
              .form_block_two.fl_left
                %label.fl_left.text_indent Fax
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :fax,:title => "Enter fax number"
              / City end

	      
              / City
              .form_block_two.fl_left
                %label.fl_left.text_indent No.of Employees
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00.title
                  = c.select :emp_count, options_for_select([' ','10','20','30','40','50','60','70','80','90'], @lead.emp_count)
              / City end
              .clear_all

          .clear_all
          / -------------------------------Contact information end-------------------------------

          / Primary Contact start
          = c.fields_for :lead_contact do |contact|  
            .wrapper_form_inner
              .form_head_highlight.form_other_information
                %span Primary Contact
              .new_lead_block.fl_left
                / First name
                .form_block_two.fl_left
                  %label.fl_left.text_indent First Name
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field :first_name_1,:title => "Enter first name"
                  .clear_all
                  .error_msg dd
                / First name end
                / last name
                .form_block_two.fl_left
                  %label.fl_left.text_indent Last Name
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :last_name_1,:title => "Enter last name"
                  .clear_all
                  .error_msg dd
                / last name end
                .clear_all

                / email
                .form_block_two.fl_left
                  %label.fl_left.text_indent Email
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field :email_1,:title => "Enter email"
                  .clear_all
                  .error_msg dd
                / email end
                / phone number
                .form_block_two.fl_left
                  %label.fl_left.text_indent Phone
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :phone_1,:title => "Enter phone number"
                  .clear_all
                  .error_msg dd
                / phone number end
                .clear_all
                / job title	
                .form_block_two.fl_left
                  %label.fl_left.text_indent Job Title
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :job_title_1,:title => "Enter job title"
                  .clear_all
                  .error_msg dd
                / job title end
                / Decision maker
                .form_block_two.fl_left
                  %label.fl_left.text_indent &nbsp;
                  %br.clear_all/
                  %label.fl_left
                    = contact.check_box  :desicion_maker_1,:label => "Decision Maker"
                  .clear_all
                  .error_msg dd
                / phone number end
                .clear_all
                / job title	

          / Secondary Contact start
          = c.fields_for :lead_contact do |contact|  
            .wrapper_form_inner
              .form_head_highlight.form_other_information
                %span Secondary Contact
              .new_lead_block.fl_left
                / First name
                .form_block_two.fl_left
                  %label.fl_left.text_indent First Name
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field :first_name_2,:title => "Enter first name"
                  .clear_all
                  .error_msg dd
                / First name end
                / lastname
                .form_block_two.fl_left
                  %label.fl_left.text_indent Last Name
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :last_name_2,:title => "Enter last name"
                  .clear_all
                  .error_msg dd
                / lastname end
                .clear_all

                / email
                .form_block_two.fl_left
                  %label.fl_left.text_indent Email
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field :email_2,:title => "Enter email"
                  .clear_all
                  .error_msg dd
                / email end
                / phone number
                .form_block_two.fl_left
                  %label.fl_left.text_indent Phone
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :phone_2,:title => "Enter phone number"
                  .clear_all
                  .error_msg dd
                / phone number end
                .clear_all
                / job title
                .form_block_two.fl_left
                  %label.fl_left.text_indent Job Title
                  %br.clear_all/
                  %label.fl_left.input_width_12
                    = contact.text_field  :job_title_2,:title => "Enter job title"
                  .clear_all
                  .error_msg dd
                / job title end
                / Decision maker
                .form_block_two.fl_left
                  %label.fl_left.text_indent &nbsp;
                  %br.clear_all/
                  %label.fl_left
                    = contact.check_box  :desicion_maker_2,:label => "Decision Maker"
                  .clear_all
                  .error_msg dd
                / phone number end
                .clear_all
                / Job title	











	  
          / Address form start
          .wrapper_form_inner
            .form_head_highlight
              %span Address
            .new_lead_block.fl_left
              / First Line
              .form_block_two.fl_left
                %label.fl_left.text_indent First Line
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field  :first_line,:title => "Enter first line"
                .clear_all
                .error_msg dd
              / First Line end
              / Second line
              .form_block_two.fl_left
                %label.fl_left.text_indent Second Line
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field  :second_line,:title => "Enter second line"
                .clear_all
                .error_msg dd
              / Second line end
              .clear_all

              / City
              .form_block_two.fl_left
                %label.fl_left.text_indent City
                %br.clear_all/
                %label.fl_left.input_width_12
                  = c.text_field :city,:title => "Enter city name"
                .clear_all
                .error_msg dd
              / City end
              / State
              .form_block_three.fl_left
                %label.fl_left.text_indent State
                %br.clear_all/
                %label.fl_left.input_width_15
                  = c.text_field  :state,:title => "Enter state"
                .clear_all
                .error_msg dd
              / State end
              .clear_all
              / Country
              .form_block_two.fl_left
                %label.fl_left.text_indent Country
                %br.clear_all/
                %label.fl_left.input_width_12.input_width_00
                  = select :lead,:country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates']),:title => "Please select country"
                .clear_all
                .error_msg dd
              / Country end
              / Country
              .form_block_three.fl_left
                %label.fl_left.text_indent Zip Code
                %br.clear_all/
                %label.fl_left.input_width_15
                  = c.text_field  :zipcode,:title => "Enter zip code"
                .clear_all
                .error_msg dd
              / Country end
              / City
              .form_block_three.fl_left
                %label.fl_left.text_indent PO Box
                %br.clear_all/
                %label.fl_left.input_width_15
                  = c.text_field :po_box,:title => "Enter post box number"
                .clear_all
                .error_msg dd
              / City end
              .clear_all

              %label.fl_left.input_update_lead
                = submit_tag " "
              / Title End
              / Second line
          / Address form end
          .clear_all
      / form block wrapper
      .spacer.clear_all
        %span
    .clear_all

    .clear_all
  / content wrapper end
= render :partial => "leftmenu"
