
%script{:type => "text/javascript"}
  function checkAll(cb)
  {

  var val = cb.checked;
  var frm = document.delete;
  var len = frm.elements.length;
  var i=0;
  for( i=0 ; i<len ; i++) 
  {
  frm.elements[i].checked=val;
  }
  }
  function selectedaction(type)
  {

  document.getElementById('result').value = type;
  document.delete.submit();
  }


  jQuery(document).ready( function() {
  setTimeout(function(){ jQuery("#message").fadeOut(); }, 3000);
  });
 

/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1
      - if flash[:notice]
        .success_message{:id => 'message'}
          %span
          = flash[:notice]
      / head block wrapper
      .head_block_wrapper
        / heading
        .heading_inner_blocks
          %h2 Leads
        / heading end
        / approval block
        .approved-block
          %ul
            %li
              - if params[:list].blank? && params[:industry_search].blank?
                = "All (#{@all_leads})"
              - else
                =link_to "All (#{@all_leads})", admin_leads_path
            %li
              - if params[:list] == 'appointed'
                = "Appointed (#{@appointed_count})"
              - else
                =link_to "Appointed (#{@appointed_count})",admin_leads_path(:list => 'appointed') 
		

          / approval block end
        %br.clear_all/
      / filter option block
      #filter_option_wrapper
      = form_for(:search, :url => admin_leads_path(:industry_search => params[:industry_search], :turnover_search => params[:turnover_search] ),:html => {:name => "appl_form",:method => :get, :onSubmit => "return leadssearch();"}) do
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td.filter{:rowspan => "2", :width => "77px"} Filter by :
            %td.top_vbtm Industry
            %td.top_vbtm Country
            %td.top_vbtm Score
            %td.top_vbtm Turnover
          %tr
            %td
              = select_tag "industry_search", options_for_select(Gigavine::Preferences.industries,params[:industry_search] )
            %td
              - if params[:lead]
                = select( "lead","country",country_options_for_select(:country,[params[:lead][:country]]),{},{:style  => "width:130px;"})
              - else
                = select( "lead","country",country_options_for_select(:country),{:include_blank => 'Select Country'},{:style  => "width:130px;"})
            %td
              %select
                %option Select Score
            %td
              = select_tag "turnover_search", options_for_select(Gigavine::Preferences.turnovers,params[:turnover_search])
            %td
              = submit_tag "Search"
      / filter option block end
      / user action wrapper block
      .spacer.clear_all
        %span
      - form_for(:search, :url => delete_all_admin_leads_path,:html => {:method => :get,:name => 'delete'}) do  
        .user_action_block
          .add_view
            = hidden_field_tag 'result'
            %ul
              %li
                -#%a{:href => "#", :title=> "Click here to add new lead"} Add New
                = link_to "Add New", new_admin_lead_path
              %li
                - if params[:action] == 'index' && params[:industry_search].blank? && params[:turnover_search].blank?
                  %a{:href => "#"}  View
                - else
                  = link_to "View", admin_leads_path		
              %li
                = link_to "Modify", '#',:onclick => "selectedaction('modify');",:title=> "Click here to modify leads"
              %li                
                = link_to "Appoint", '#',:onclick => "selectedaction('appoint');", :title=> "Click here to appoint leads"
              %li
                = link_to "Delete", '#',:onclick => "selectedaction('delete');", :title=> "Click here to delete leads"
        / user action 2 block
        .bulk_action_block
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:valign => "top"}
                %select.select_box_strech
                  %option Bulk Action 1
                  %option Bulk Action 1
              %td
                %input.apply-bg{:type => "button", :value => "Apply"}/
              %td
                %input.import-bg{:type => "button", :value => "Import"}/
        / user action 2 block end
        .spacer.clear_all
          %span
        .spacer.clear_all
          %span 
        / table grid block
        .grid_wrapper
          %table.myTable01{:cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr
                %th
                  %input{:type => "checkbox", :onClick => "checkAll(this);"}/
                %th
                  - if params[:sort] == 'company_d'
                    %a{:href => "leads?sort=company_a"} Company
                  - else
                    %a{:href => "leads?sort=company_d"} Company
                %th
                  - if params[:sort] == 'fname_d'
                    %a{:href => "leads?sort=fname_a"}  Main Contact
                  - else
                    %a{:href => "leads?sort=fname_d"}  Main Contact
                %th Status
                %th Email
                %th Country
                %th 
                  - if params[:sort] == 'industry_d'
                    %a{:href => "leads?sort=industry_a"} Industry
                  - else
                    %a{:href => "leads?sort=industry_d"} Industry
                %th Website
                %th 
                  - if params[:sort] == 'appoint_d'
                    %a{:href => "leads?sort=appoint_a"} Appointed to
                  - else
                    %a{:href => "leads?sort=appoint_d"} Appointed to
                %th Lead score
            %tbody
              - if !@leads.blank?
                - @leads.each_with_index do |lead,j| 
                  %tr
                    %td
                      = check_box_tag "lead[]", lead.id 
                    %td 
                      = lead.company
                    %td 
                      = lead.first_name
                    %td 
                      = lead.status
                    %td 
                      = lead.email
                    %td 
                      = lead.country
                    %td 
                      = lead.industry
                    %td 
                      = lead.web_url
                    %td
                      - if lead.appointed_to		  
                        = lead.appointed_to
                      - else
                        = '-None-'
                    %td Cold
              - else
                %tr
                  %td{:colspan => 7}
                    = "No Leads found for your search."

            / table grid block end
    .clear_all
  / content wrapper end
= render :partial => "leftmenu"
 
    

