
%script{:type => "text/javascript"}
  var arr_ele = [];
  var all_ele = [];
  function checkNew(cb,check_ele)
  {

  if(check_ele.checked == false)
  {
  for(var i=0; i<arr_ele.length;i++ )
  { 
  if(arr_ele[i]==cb)

  arr_ele.splice(i,1)
  } 
  document.getElementById('total_leads').value = arr_ele;
  document.getElementById('lead').value = arr_ele;
  }
  if (check_ele.checked == true)
  {   
  arr_ele.push(cb);
  document.getElementById('total_leads').value = arr_ele;
  document.getElementById('lead').value = arr_ele;
  }
  }



  function checkAll(cb1)
  {

  if(cb1.checked == true)
  {
  var c = new Array();
  c = document.getElementsByTagName('input');
  for (var i = 0; i < c.length; i++)
  {
  if (c[i].type == 'checkbox')
  {
  c[i].checked = true;
  all_ele.push(c[i].value);
  document.getElementById('lead').value = all_ele;
  document.getElementById('total_leads').value = all_ele;
  }
  }
  }
  else
  {

  var c = new Array();
  c = document.getElementsByTagName('input');
  for (var i = 0; i < c.length; i++)
  {
  if (c[i].type == 'checkbox')
  {
  c[i].checked = false;
  document.getElementById('lead').value = "";
  document.getElementById('total_leads').value = ""; 

  }
  }
  }
  }
  
  
  function selectedaction(type)
  {
  
  document.getElementById('result').value = type;
  document.delete.submit();
  }


  jQuery(document).ready( function() {
  setTimeout(function(){ jQuery("#message").fadeOut(); }, 5000);  
  });
 
  jQuery(document).ready(function () {

  //select all the a tag with name equal to modal
  jQuery('a[name=modal]').click(function (e) {

  //Cancel the link behavior
  e.preventDefault();

  //Get the A tag
  var id = jQuery(this).attr('href');

  //Get the screen height and width
  var maskHeight = jQuery(document).height();
  var maskWidth = jQuery(window).width();

  //Set heigth and width to mask to fill up the whole screen
  jQuery('#mask').css({
  'width': maskWidth,
  'height': maskHeight
  });

  //transition effect		
  jQuery('#mask').fadeIn(1000);
  jQuery('#mask').fadeTo("slow", 0.8);

  //Get the window height and width
  var winH = jQuery(window).height();
  var winW = jQuery(window).width();

  //Set the popup window to center
  jQuery(id).css('top', winH / 2 - jQuery(id).height() / 2);
  jQuery(id).css('left', winW / 2 - jQuery(id).width() / 2);

  //transition effect
  jQuery(id).fadeIn(2000);

  });


  jQuery('a[name=modal1]').click(function (e) {

  //Cancel the link behavior
  e.preventDefault();

  //Get the A tag
  var id = jQuery(this).attr('href');

  //Get the screen height and width
  var maskHeight = jQuery(document).height();
  var maskWidth = jQuery(window).width();

  //Set heigth and width to mask to fill up the whole screen
  jQuery('#mask').css({
  'width': maskWidth,
  'height': maskHeight
  });

  //transition effect		
  jQuery('#mask').fadeIn(1000);
  jQuery('#mask').fadeTo("slow", 0.8);

  //Get the window height and width
  var winH = jQuery(window).height();
  var winW = jQuery(window).width();

  //Set the popup window to center
  jQuery(id).css('top', winH / 2 - jQuery(id).height() / 2);
  jQuery(id).css('left', winW / 2 - jQuery(id).width() / 2);

  //transition effect
  jQuery(id).fadeIn(2000);

  });


  //if close button is clicked
  jQuery('.window .close').click(function (e) {
  //Cancel the link behavior
  e.preventDefault();

  jQuery('#mask').fadeOut(200);
  jQuery('.window').fadeOut(200);
  });



  });


/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1
      - if flash[:notice]
        .success_message{:id => 'message'}
          %span
          = flash[:notice]
      / head block wrapper
      .head_block_wrapper
        / heading
        .heading_inner_blocks
          %h2 Leads
        / heading end
        / approval block
        .approved-block
          %ul
            %li
              - if params[:list].blank? && params[:industry_search].blank?
                = "All (#{@all_leads})"
              - else
                =link_to "All (#{@all_leads})", admin_leads_path
            %li
              - if params[:list] == 'appointed'
                = "Appointed (#{@appointed_count})"
              - else
                =link_to "Appointed (#{@appointed_count})",admin_leads_path(:list => 'appointed') 
		

          / approval block end
        %br.clear_all/
      / filter option block
      #filter_option_wrapper
      = form_for(:search, :url => admin_leads_path(:industry_search => params[:industry_search], :turnover_search => params[:turnover_search] ),:html => {:name => "appl_form",:method => :get, :onSubmit => "return leadssearch();"}) do
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tr
            %td.filter{:rowspan => "2", :width => "77px"} Filter by :
            %td.top_vbtm Industry
            %td.top_vbtm Country
            %td.top_vbtm Score
            %td.top_vbtm Turnover
	    
          %tr
            %td
              = select_tag "industry_search", options_for_select(Gigavine::Preferences.industries,params[:industry_search] ),{:include_blank => 'Select Industry',:onchange => "this.form.submit();"}
            %td
              - if params[:lead]
                = select( "lead","country",country_options_for_select(:country,[params[:lead][:country]]),{},{:style  => "width:130px;",:onchange => "this.form.submit();"})
              - else
                = select( "lead","country",country_options_for_select(:country),{:include_blank => 'Select Country'},{:style  => "width:130px;",:onchange => "this.form.submit();"})
            %td
              %select
                %option Select Score
            %td
              = select_tag "turnover_search", options_for_select(Gigavine::Preferences.turnovers,params[:turnover_search]),{:include_blank => 'Select Turnover',:onchange => "this.form.submit();"}

      / filter option block end
      / user action wrapper block
      .spacer.clear_all
        %span
      - form_for(:search, :url => delete_all_admin_leads_path,:html => {:method => :get,:name => 'delete'}) do  
        .user_action_block
          .add_view
            = hidden_field_tag 'result'
            = hidden_field_tag 'lead'
            %ul
              %li
                -#%a{:href => "#", :title=> "Click here to add new lead"} Add New
                = link_to "Add New", new_admin_lead_path
              %li
                - if params[:action] == 'index' && params[:industry_search].blank? && params[:turnover_search].blank?
                  %a{:href => "#"}  View
                - else
                  = link_to "View", admin_leads_path		
              %li
                = link_to "Modify", '#',:onclick => "selectedaction('modify');",:title=> "Click here to modify leads"
		
              %li 
                = link_to "Appoint", '#dialog1',:title=> "Click here to modify leads",:name => "modal1"	      


              %li
                = link_to "Delete", '#',:onclick => "selectedaction('delete');", :title=> "Click here to delete leads"
		
      %span
        #boxes
          %td

            #dialog1.window
              .inner_block_modal
                %h3 
                - form_for(:appoint, :url => {:action => 'appoint_to'}) do  
    
                  .form_block_two.fl_left{:style=>"margin:20px 0 0 20px"}
                    %label.fl_left.text_indent Appoint To
                    %br.clear_all
                    %label.fl_left.input_width_12
                      = hidden_field_tag 'total_leads', ''
                      = text_field 'lead', 'appointed_to'
                  .clear_all
                  .error_msg dd
                  .clear_all
                  .form_block_two.fl_left
                    %label.fl_left.text_indent &nbsp;
                    %br.clear_all
                    %label.fl_left{:style=>"margin:0 0 0 20px"}

                      %input.apply-bg{:type => "button", :value => "Appoint",:onclick => "this.form.submit();"}/
                  .clear_all
                  .error_msg dd


              %a.close{:href => "#",:onclick => "document.getElementById('lead_appointed_to').value = '';document.getElementById('total_leads').value = '';"}
                %span		
		
		
        / user action 2 block
      %span
        .bulk_action_block
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{:valign => "top"}
                %select.select_box_strech
                  %option Bulk Action 1
                  %option Bulk Action 1
              %td
                %input.apply-bg{:type => "button", :value => "Apply"}/

              

              #boxes
                %td
                  %a{:href => "#dialog", :name => "modal"}  
                    %input.import-bg{:type => "button", :value => "Import"}/
                #dialog.window
                  .inner_block_modal
                    %h3
                    - form_for(:impcsv, :url =>{:action=>'csv_import'}, :html => { :multipart => true,:onsubmit=>"return Checkfiles();",:name => "import_csv" }) do |f|
                      .form_block_two.fl_left{:style=>"margin:20px 0 0 20px"}
                        %label.fl_left.text_indent Upload File
                        %br.clear_all
                        %label.fl_left.input_width_12
                          
                          = f.file_field :csv_file_upload, :label=>"Import", :size=>"10"
                      .clear_all
                      .error_msg dd
                      .clear_all
                      .form_block_two.fl_left
                        %label.fl_left.text_indent &nbsp;
                        %br.clear_all
                        %label.fl_left{:style=>"margin:0 0 0 20px"}

                          %input.apply-bg{:type => "button", :value => "Upload",:onclick => "this.form.submit();"}/
                      .clear_all
                      .error_msg dd


                  %a.close{:href => "#"}
                    %span
		
		
        / user action 2 block end
        .spacer.clear_all
          %span
        .spacer.clear_all
          %span 
        / table grid block
        .grid_wrapper
          %table.myTable01{:cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr
                %th
                  %input{:type => "checkbox", :onClick => "checkAll(this);"}/
                %th.sort_list
                  - if params[:sort] == 'company_d'
                    %a.sort_desc_anchor{:href => "leads?sort=company_a"} Company
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=company_d"} Company
                %th.sort_list
                  - if params[:sort] == 'fname_d'
                    %a.sort_desc_anchor{:href => "leads?sort=fname_a"}  Main Contact
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=fname_d"}  Main Contact
                %th.sort_list
                  - if params[:sort] == 'status_d'
                    %a.sort_desc_anchor{:href => "leads?sort=status_a"}  Status
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=status_d"}  Status

                %th.sort_list
                  - if params[:sort] == 'email_d'
                    %a.sort_desc_anchor{:href => "leads?sort=email_a"}  Email
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=email_d"}  Email
                %th.sort_list
                  - if params[:sort] == 'country_d'
                    %a.sort_desc_anchor{:href => "leads?sort=country_a"}  Country
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=country_d"}  Country
                %th.sort_list
                  - if params[:sort] == 'industry_d'
                    %a.sort_desc_anchor{:href => "leads?sort=industry_a"} Industry
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=industry_d"} Industry
                %th
                  - if params[:sort] == 'web_d'
                    %a.sort_desc_anchor{:href => "leads?sort=web_a"} Website
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=web_d"} Website
                %th.sort_list 
                  - if params[:sort] == 'appoint_d'
                    %a.sort_desc_anchor{:href => "leads?sort=appoint_a"} Appointed to
                  - else
                    %a.sort_asc_anchor{:href => "leads?sort=appoint_d"} Appointed to
                %th Lead score
            %tbody
              - if !@leads.blank?
                - @leads.each_with_index do |lead,j| 
                  %tr
                    %td
                      %input{:type => "checkbox", :value => lead.id,:onclick =>"checkNew(this.value,this);" }
                    %td 
                      = lead.company
                    %td 
                      = link_to "#{lead.first_name}", edit_admin_lead_path(lead)
                    %td 
                      = lead.status
                    %td 
                      = lead.email
                    %td 
                      = lead.country
                    %td 
                      = lead.industry
                    %td 
                      = lead.web_url
                    %td
                      - if lead.appointed_to		  
                        = lead.appointed_to
                      - else
                        = '-None-'
                    %td Cold
              - else
                %tr
                  %td{:colspan => 7}
                    = "No Leads found for your search."

            / table grid block end
    .clear_all
  / content wrapper end
= render :partial => "leftmenu"

    

