.box.sentence
  %h3 Employee Details
  %div{:style => "padding-bottom:10px;"}
    %span Name:
    =  @employ.first_name + @employ.last_name
    %br
    %span Email:
    = @employ.email
    %br
    - if !@employ.mobile.blank?
      %span Mobile:
      = @employ.mobile
    %br
    - if !@employ.dob.blank?
    %span DOB:
    = @employ.dob

  %h3 Job Details
  %div{:style => "padding-bottom:10px;"}    
    %span Department:
    = @employ.department.name
    %br
    %span Tax ID:
    = @employ.tax_id
    %br
    %span Job Title:
    = @employ.job_title

    %br
    %span Date of Join:
    = @employ.date_of_join
    %br
    %span Salary:
    = "$" + @employ.salary
    %br
    %span Reports To:
    = @employ.reports_to
    

  

    


