.box.word
  %h3= @word.word
  - if @word.pronunciation
    %h4= @word.pronunciation
  %hr
  %ol.word-definitions
    - @word.definitions.each do |d|
      = list_item_highlighted_if_match d, @definition do
        %h5= d.kind
        %p= d.text
        - unless d.translations.empty?
          %ul.word-definition-translation
            -d.translations.each do |t|
              %li
                = language_flag_for(t)
                = link_to t.word, glossary_word_path(t)
        = link_to "Add translation", new_glossary_word_definition_translation_path(@word, d)
  = link_to "Add definition", new_glossary_word_definition_path(@word)