

%script{:type => "text/javascript"}

  jQuery(document).ready( function() {

  setTimeout(function(){ jQuery("#message").fadeOut(); }, 5000);  
  });
 


  });


/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1
      - if flash[:notice]
        .success_message{:id => 'message'}
          %span
          = flash[:notice]
      / head block wrapper
      .head_block_wrapper
        / heading
        .heading_inner_blocks
          %h2 Contacts
        / heading end


        %br.clear_all/
      / filter option block
      #filter_option_wrapper
      = form_for(:search, :url => admin_leads_path(:industry_search => params[:industry_search], :turnover_search => params[:turnover_search] ),:html => {:name => "appl_form",:method => :get, :onSubmit => "return leadssearch();"}) do
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
 
      / filter option block end
      / user action wrapper block
      .spacer.clear_all
        %span

      .user_action_block
        .add_view{:style => "width:90px;"}

          %ul
            %li
              -#%a{:href => "#", :title=> "Click here to add new contact"} Add New
              = link_to "Add New ", new_contact_path
           
		

      / user action 2 block end
      .spacer.clear_all
        %span
      .spacer.clear_all
        %span 
      / table grid block
      .grid_wrapper
        %table.myTable01{:cellpadding => "0", :cellspacing => "0"}
          %thead
            %tr

              %th.sort_list
                First Name
              %th.sort_list
                Last Name
              %th.sort_list
                Email
              %th.sort_list
                Role
              %th.sort_list
                Organization		    
              %th.sort_list
                Block     
              %th
                Actions


 
            %tbody
              - if !@client_contacts.blank?
                - @client_contacts.each_with_index do |client_contact,j| 
                  %tr
                    %td 
                      = client_contact.first_name
                    %td 
                      = client_contact.last_name
                    %td 
                      = client_contact.email
                    %td 
                      = client_contact.role
                    %td 
                      = client_contact.organization
 
                    %td
                      = form_for :user_access, :url => allow_user_path(client_contact.id) do |u|
                        - if client_contact.login_access == "block"			
                          %input{:type => :checkbox, :checked=> true, :name => "user_access",:onclick => "this.form.submit();"}
                        - else			
                          %input{:type => :checkbox, :name => "user_access",:onclick => "this.form.submit();"}


                    %td
                      - if client_contact.client_contact_invite
                        - if client_contact.client_contact_invite.status == 0		    
                          = link_to "Invite", user_invitation_path(:id => client_contact.id)
                        - else
                          Registered
                      - else
                        = link_to "Invite", user_invitation_path(:id => client_contact.id)
                      = " | "
                      = link_to "Edit ", "#"
                      = " | "
                      = link_to "Delete ", "#"

              - else
                %tr
                  %td{:colspan =>6}
                    = "No contacts created yet."

            / table grid block end
    .clear_all
  / content wrapper end
 
= render :partial => "admin_left_menu"
    

