:javascript
  function checkpass()
  {
  pwd = document.getElementById('password');
  if(!pwd.value.match(/([A-Z])+/))
  {
  alert("invalid password must have a captial letter")
  pwd.focus();
  return false;
  }
  if(!pwd.value.match(/([a-z])+/))
  {
  alert("invalid password must have a small letter")
  pwd.focus();
  return false;
  }
  if(!pwd.value.match(/([0-9]|[\~|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\+|\_])+/))
  {
  alert("invalid password must have a digit or a special character")
  pwd.focus();
  return false;
  }
  return true;
  }
#contact_wrapper{:style=>"height:auto!important;"}
  .contact-newbg{:style=>"background:none;height:auto!important;"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/login_links"
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent1
        - if @found == true
          %h3
            Please enter new password  
      
          %p
            = form_tag '/new_password/users', {:onSubmit => 'return checkpass();'}do
              = hidden_field_tag :gigauser, @gigauser.id  
              = password_field_tag :password
              = submit_tag "Submit", :class=>"mid_button"
        - else
          %h3
            Invalid token
        .clear.both
          &nbsp;
  .topspace
