= javascript_include_tag "client_registration"
:css
  .select_block #card_card_expirty_date_2i{width:200px;}
:javascript
  // Background color animation 

         jQuery(document).ready(function () {
         $("#gigaclient_email").bind("blur", function() {
         var data = $("#gigaclient_email").val(); 
         var url="/emailvalidate/users"+"?email="+data

         $.get(url,function(data) { // function to handle the response
         //$('#check').show();
         });

        });
        });
    
#contact_wrapper
  .contact-newbg{:style=>"background:none"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/inner_pages"
        
        .contact_headding{:style=>"background:none"}
          %h4
            %span CLIENT /
            REGISTRATION
      / <div class="pro-case-header">&nbsp;</div>
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent
        .signup.baselayout
          .container
            .clear  
            .leftcolumn
              .banner{:style=>"background:none"}
                %h2 Form to create an account

              .contents{:style=>"background:none"}
                - form_for :gigaclient, :url=> {:action => 'create_client_registration'}, :html => {:onsubmit => "return valid_register();" }  do |f|
                  .account.section
                    %h3 Create your account
                    %fieldset.credentials
                      %legend Enter Company Details
                      %br
                      #username_entry
                        %table
                          %tbody
                            %tr
                            %tr
                              %td{:width => "100px", :height => "35px"}
                                %label{:for => "signup_username",:style => "padding-bottom:20px;"} Company
                              %td
                                = f.text_field :company
                              %td                       
                    %fieldset.credentials
                      %legend Enter Details
                      %br
                      %table
                        %tbody
                          %tr
                            %td{:width => "80px"}
                              %label{:for => "signup_first_name"} First name
                            %td
                              = f.text_field :first_name
                            %td
                          %tr
                            %td
                              %label{:for => "signup_last_name"} Last name
                            %td
                              = f.text_field :last_name
                            %td
                          %tr
                            %td
                              %label{:for => "signup_email_address"} Email
                            %td
                              = f.text_field :email
                              %div{:style => "float:right;display:none", :id =>"check"}
                                =image_tag("/images/frontend/Symbol-Check.png",:size=>"25x25", :alt=>"check")


                    %fieldset.credentials
                      %legend Now choose a password
                      %br
                      %table
                        %tbody
                          %tr
                          %tr
                            %td{:width => "100px", :height => "35px"}
                              %label{:for => "signup_last_name"} Password
                            %td
                              = f.password_field :password
                            %td
                          %tr
                            %td{:width => "100px", :height => "35px"}
                              %label{:for => "signup_email_address"} Confirm Password
                            %td
                              = f.password_field :password_confirmation
                          %p
    
                  .clear
                  -#%img{:src=>"/images/frontend/client_signup/btn-createaccount.png",:alt => "Create my account", :style => "background:none; width:auto;"}
                  %input{:alt => "Create my account", :src => "/images/frontend/client_signup/btn-createaccount.png", :style => "background:none; width:auto;", :type => "image"}
              .bottom
          .clear.both
  .topspace

