

#centerform
  %title Gigavine - User Sign Up
  %h2= title "Sign Up"
  = form_for @gigauser, :url => {:action => 'client_user_create'} do |f|
    - if @gigauser.errors.any?
      .error_message
        %span
          = render "shared/error_messages", :target => @gigauser
    %fieldset

      %legend Signup Form
      = hidden_field_tag :invite_token, params[:invite_token]
      %label User Name
      = f.text_field     :username
      %br        
      %label First Name

      = f.text_field :first_name, :value =>@invite.recipient.first_name
      %br        
      %label Last Name
      = f.text_field :last_name, :value =>@invite.recipient.last_name
      %br        
      %label Email
      %br  
      = f.text_field :email, :value =>@invite.recipient.email
      
      = f.hidden_field :main_account_id, :value =>@invite.sender_id
      = f.hidden_field :gigaclient_id, :value =>@invite.sender.gigaclient_id
      = f.hidden_field :role, :value =>@invite.recipient.role      
      %label Password
      = f.password_field :password
      %label Confirm Password

      = f.password_field :password_confirmation
      = f.check_box  :terms_of_service, :label => "I read and agree with the #{link_to "terms of service", "#", :id => "terms_of_service", :name => :terms_services}".html_safe

      = f.check_box  :privacy_policy,   :label => "I read and agree with the #{link_to "privacy policy", '#' , :id => "privacy", :name => :privacy_policy}".html_safe
    
      = f.submit "Sign Up", :type => :image, :src => "/images/new_page/signup.png"
    .clear      
#terms_services.window
  .inner_block_modal
    = render :partial => "terms_and_conditions"
    %a.close.close_form{:href => "#"}
      %span
#privacy_policy.window
  .inner_block_modal
    = render :partial => "privacy_policy"
    %a.close.close_form{:href => "#"}
      %span



  