= javascript_include_tag "client_registration"
:css
  #talent_date_of_birth_2i{width:120px;}
    
#contact_wrapper
  .contact-newbg{:style=>"background:none"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/profile_topmenu"
        
        .contact_headding{:style=>"background:none"}
          %h4
            %span TALENT /
            GENERAL
      / <div class="pro-case-header">&nbsp;</div>
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent
        .lp_navigation{:style => "width:260px"}
          %ul
            %li
              %a.current{:href => "/talentedit/users"} General
              =#link_to "General Info", talentedit_users_path(:user =>params[:user]), :class =>"select_reg" 
            %li
              %a{:href=> "javascript://", :onClick => "comingsoon();"} Contact

            %li
              %a{:href=> "javascript://", :onClick => "comingsoon();"} 	 Billing
          %img{:src => "/images/frontend/client_signup/gigavine_reg.png"}/
        .signup.baselayout{:style=>"background:none!important; width:630px; float:right;"}
          .container{:style=>"width:620px; float:right;"}
            .clear  
            .leftcolumn
              .banner{:style=>"background:none"}
                %h2 Form to create an account

              .contents{:style=>"background:none"}
                - form_for :talent, :url=> talentupdate_users_path, :html => {:onsubmit => "return valid_register();" }  do |f|
                  %fieldset.credentials
                    %br
                    %table
                      %tbody
                        %tr
                          %td{:width => "120px"}
                            %br
                            %br
                            %label{:for => "signup_first_name",:style => "valign:bottom"} Birthday
                          %td{:style => "valign:bottom",:width => "120px"}  
                            %br                 
                            = f.date_select :date_of_birth
                          %td
                        %tr
                          %td
                            %label{:for => "signup_last_name"} I am
                          %td{:style => "text-align:left"}
                            = f.radio_button :gender, "Male", :style=>"width:10px!important"
                            = f.radio_button :gender, "Female",  :style=>"width:10px!important"
                          %td
                        %tr
                          %td 
                            &nbsp;
                          %td &nbsp;
                          %td &nbsp;
                        %tr
                          %td 
                            %label{:for => "signup_email_address"} About me
                          %td &nbsp;
                          %td &nbsp;
                        %tr
                          %td &nbsp;                              
                          %td
                            = f.text_area :about_me, :style=>"position:relative; top:-20px;"
                        %p
                  .clear
                  =  hidden_field_tag :user, params[:user]
                  -#%img{:src=>"/images/frontend/client_signup/btn-createaccount.png",:alt => "Create my account", :style => "background:none; width:auto;"}
                  %input{:alt => "Create my account", :src => "/images/frontend/client_signup/btn-createaccount.png", :style => "background:none; width:auto;", :type => "image"}
              .bottom
          .clear.both
            &nbsp;
  .topspace

