= javascript_include_tag "client_registration"
:css
  #talent_date_of_birth_2i{width:120px;}
    
#contact_wrapper
  .contact-newbg{:style=>"background:none"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/profile_topmenu"
        
        .contact_headding{:style=>"background:none"}
          %h4
            %span CLIENT /
            GENERAL
      / <div class="pro-case-header">&nbsp;</div>
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent
        .lp_navigation{:style => "width:260px"}
          %ul
            %li
              %a.current{:href => "/talentedit/users"} General
              =#link_to "General Info", talentedit_users_path(:user =>params[:user]), :class =>"select_reg" 
            %li
              %a{:href => "javascript://", :onClick => "comingsoon();"} Contact

            %li
              %a{:href=> "/billingclient/users"} Billing
          %img{:src => "/images/frontend/client_signup/gigavine_reg.png"}/
        .signup.baselayout{:style=>"background:none!important; width:630px; float:right;"}
          .container{:style=>"width:620px; float:right;"}
            .clear  
            .leftcolumn
              .banner{:style=>"background:none"}
                %h2 Form to create an account

              .contents{:style=>"background:none"}
                - form_for :gigauser, :url=> {:action => 'update_profile_client'}, :html => {:onsubmit => "return valid_register();" }  do |f|

                  %fieldset.credentials
                    %legend Company Details
                    %br
                    #username_entry
                      %table
                        %tbody
                          %tr
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_username",:style => "padding-bottom:20px;"} Name
                            %td
                              = f.text_field :company
                            %td
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_username",:style => "padding-bottom:20px;"} Founded
                            %td
                              = f.text_field :founded
                            %td
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_username",:style => "padding-bottom:20px;"} Logo
                            %td
                              = f.file_field :logo
                            %td
                          %tr
                            %td{:style=>"vertical-align:middle"}
                              %label{:for => "signup_username"} Company&nbsp;Size
                            %td
                              = f.select :number_of_employ, options_for_select([["1-10","1-10"], ["11-50","11-50"],["50-200","50-200"],["201-500","201-500"],["501-1000","501-1000"],["1001-5000","1001-5000"], ["10,001+","10,001+"]])
                            %td
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_password"} Industry
                            %td
                              = f.text_field :industry
                            %td
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_password_confirmation"} Turn Over
                            %td
                              = f.text_field :turnover
                          %tr
                            %td{:width => "120px", :height => "35px"}
                              %label{:for => "signup_username",:style => "padding-bottom:20px;"} Company Overview
                            %td &nbsp;                                
                            %td
                          %tr
                            %td{:width => "120px", :height => "35px"} &nbsp;
                            %td
                              = f.text_area :overview
                            %td
                          %p
                  .clear
                  =  hidden_field_tag :user, params[:user]
                  -#%img{:src=>"/images/frontend/client_signup/btn-createaccount.png",:alt => "Create my account", :style => "background:none; width:auto;"}
                  %input{:alt => "Create my account", :src => "/images/frontend/client_signup/btn-createaccount.png", :style => "background:none; width:auto;", :type => "image"}
              .bottom
          .clear.both
            &nbsp;
  .topspace

