#contact_wrapper.contact_wrapper_new
  .contact-newbg{:style=>"background:none;height:auto!important;"}
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/login_links"
    #lp_content{:style => "position:relative;background:#fff;"}
      #lp_midcontent1
        %h3
          Forgot your password?
        %p
          Type your email address below to reset your password.
        %p
          Your email address            
        %p
          = form_tag '/reset/users' do
            %label Email&nbsp; &nbsp; &nbsp; &nbsp;
            = text_field_tag :email
            %br
            %br
            %label Username
            = text_field_tag :username
            = submit_tag "Submit", :class=>"mid_button"
            .clear.both
              &nbsp;
  .topspace

