:javascript
  Cufon.replace('.sf-navbar li.current', {color: '#cf641e'});
  Cufon.replace('.sf-navbar li.sub_nav', {color: '#fff'});

#contact_wrapper
  .contact-newbg
    / Header
    #trans-wrapper
      #trans-main
        = render :partial => "/pages/partials/inner_pages"
        .contact_headding
          %h4
            %span COMPANY /
            CONTACT US
      .contact_new_header  

    / Headerend
    / content block start
    #lp_content{:style => "position:relative;min-height:600px;height:auto!important;height:800px;"}
      #lp_midcontent
        / left block start
        .lp_leftblock
          .lp_navigation
            %ul
              %li
                %a{:href => "/contact/about"} About
              %li
                %a{:href => "/contact/value"} Values
              %li
                %a.current{:href => "/contact"} Contact

          / submit block start

          #language_get
            %h4 &nbsp;
            %span{:style => "padding-top:30px;"}												
              %img{:src=>"/images/frontend/client_signup/gigavine_reg.png",:alt => "Create my account", :style => "background:none; width:auto;"}								
          / submit block end
        / left block end
        / right block start
        .lp_rightblock
          %p.headding_text
            - if !get_languages('contact_page','title').blank?
              = raw(get_languages('contact_page','title'))
            - else
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lorem turpis, eu convallis neque. Duis aliquet sodales risus id euismod.
        
            %p
              - if !get_languages('contact_page','summary').blank?
                = raw(get_languages('contact_page','summary'))
              - else
                Nulla vulputate, sem eu venenatis dapibus, ante sapien pretium enim, eu bibendum est ligula non elit. Nulla mattis, tellus non condimentum lacinia, risus sem scelerisque lectus, et semper libero diam non tortor. In porttitor tristique erat sagittis eleifend. Integer risus libero, sodales in feugiat blandit, interdum vitae metus.
            %div
              .contact_textblock
                %p.headding London
                %p
                  T:
                  - if !get_contacts('contact_page_london','title').blank?
                    = raw(get_contacts('contact_page_london','title'))
                  - else
                    + 44 (0) 20 3371 1004

                %p.clear
                  &nbsp;
                %p.headding Dubai
                %p
                  T:                
                  - if !get_contacts('contact_page_dubai','title').blank?
                    = raw(get_contacts('contact_page_dubai','title'))
                  - else
                    + 44 (0) 20 3371 1004

                %p.clear 
                  &nbsp;
                %p.headding New York
                %p
                  T:                
                  - if !get_contacts('contact_page_newyork','title').blank?
                    = raw(get_contacts('contact_page_newyork','title'))
                  - else
                    + 19174709543
                %p.clear 
                  &nbsp;
                %p.headding General enquiries
                %p
                  %a{:href => "mailto:info@gigavine.com"} info@gigavine.com
                %p.clear
                  &nbsp;
                %p.headding Sales enquiries
                %p
                  %a{:href => "mailto:sales@gigavine.com"} sales@gigavine.com
                %p.clear
                  &nbsp;
              .contact_video
                - if !get_help('contact_page','image').blank?
                  = image_tag(get_help('contact_page','image'),:width => "379px;",:height => "289px;")
                - else
                  %img{:src => "/images/frontend/conrtact_img1.jpg"}
          / right block end
      / content block end
    .clear  
      &nbsp; 
