
#create_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .work_headding
        %h4
          %span CREATIVE /
          Design And Artwork
    .create-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a.current{:href => "#"} Artwork	
            %li
              %a{:href => "/creative/advertising"} Advertising										
            %li
              %a{:href => "/creative/webdesign"} Web Design
            %li
              %a{:href => "/creative/interactive"} Interactive
        / submit block start
        #lp_submit
          %h4 Submit a brief
          = form_for :brief_detail, :url =>{:controller=> :pages, :action => :submit_brief_pages,:id => 'creative'},:html => {:multipart => :true,:onsubmit => "return submit_brief_form();"} do |f|
            .lpsub_inner
              .lpsub_leftcorner
                %span
              .lpsub_bg
                .lpsub_bg_inner
                  %p
                    %span Name
                    = f.text_field "name",:id=> "briefdetail_name"
                  %p
                    %span Email
                    = f.text_field "email", :id=> "briefdetail_email"
                    = hidden_field_tag "section_name", "Creative work"
                  %p{:style=>"width:200px;"} 
                    %span File
                    #FileUpload1
                      %input#BrowserHidden1{:onChange => "getElementById('FileField1').value = getElementById('BrowserHidden1').value;", :size => "4", :type => "file", :name => "brief_detail[attachment]"}
                        #BrowserVisible1
                          %input#FileField1{:type => "text", :size => "5",:name => "briefdetail_file_text"}																		
                  %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px; z-index:1000;"}
                    %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => "Submit"}/
              .lpsub_rightcorner
                %span
        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        - if !get_languages('creative_artwork_page','summary').blank?
          = raw(get_languages('creative_artwork_page','summary'))
        - else
          %p{:style=>"margin-top:0px;"} 
            Great design brings together a wide range of graphic characteristics in one original visual statement. It has to be fresh, immediate and pleasing, yet it must adhere to the brand, and make commercial sense too. 
          %p
            This calls for a delicate balance of skills: sheer inventiveness combined with hard headed practicality. Gigavine offers that combination to our clients. 
          %p
            We create visual designs across a wide range of applications, including logos, packaging, the full range of print collateral including brochures, business cards and promotional materials, direct mail and of course web and interactive design.
          %p{:style=>"margin-bottom:10px;"}
            In addition we provide comprehensive artworking services - that's the process of optimising and perfecting layouts and the imagery within them ready for publication. We include high quality image manipulation and retouching in our artworking department.

	 
        %p.headding_textnew
          Our key design services
        .local_nav
          %ul{:style=>"float:left; width:150px; margin-top:10px;"}
            %li
              Logos
            %li
              Stationery
            %li
              Brochures
            %li
              Annual reports
          %ul{:style=>"float:left; width:150px; margin-top:10px;"}
            %li
              Product sheets
            %li
              Case studies
            %li
              Sales sheets
            %li
              Presentations
          %ul{:style=>"float:left;  width:150px;  margin-top:10px"}
            %li
              Manuals
            %li
              Publications
            %li
              Direct mail campaigns

        .topspace  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end
