:javascript
  jQuery.noConflict();
  jQuery(document).ready(function(){ 
  	jQuery(".div_li_tab").click(function () {
    jQuery(".div_li_tab a").each( function(id){
    Cufon.replace(this, {color: '#465561'});
    });
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
    exist_one = jQuery(".selettab").attr("id");
    jQuery(".div_li_tab_last").css('border-right', '1px solid #c9c9c9');
    jQuery(".div_li_tab_first").css('border-left', '1px solid #c9c9c9');
    jQuery("#"+exist_one).removeClass("selettab");
    jQuery(this).find("a").addClass("selettab");
    document.getElementById("tab"+tab_id).style.display='block';
    if(jQuery(this).attr("class") == "div_li_tab div_li_tab_first"){
    jQuery(this).find("a").css('border-left', '0px solid #000');
    jQuery(this).css('border-left', '0px solid #000');
    }
    if(jQuery(this).attr("class") == "div_li_tab div_li_tab_last"){
    jQuery(this).find("a").css('border-right', '0px solid #000');
    jQuery(this).css('border-right', '0px solid #000');
    }
    });

  	jQuery("#2").click(function () {
  		tab_id = jQuery(this).find("a").attr('id');
  		jQuery(".tabdiv_new").hide();
  		document.getElementById("tab"+tab_id).style.display='block';
  		//jQuery("#tab"+tab_id).show("slow");
  	});
   
  });

#create_wrapper
  / Header
  #trans-wrapper{:style => "position:relative;z-index:1"}
    #trans-main
      = render :partial => "/pages/partials/inner_pages"
      .work_headding
        %h4
          %span CREATIVE /
          Advertising
    .create-header  
  / Headerend
  / content block start
  #lp_content{:style => "position:relative;"}
    #trance_midcontent
      / left block start
      .lp_leftblock
        .lp_navigation
          %ul
            %li
              %a{:href => "/creative/artwork"} Artwork
            %li
              %a.current{:href => "#"} Advertising												
            %li
              %a{:href => "/creative/webdesign"} Web Design
            %li
              %a{:href => "/creative/copywriting"} Copywriting
            %li
              %a{:href => "/creative/interactive"} Interactive
        / submit block start
        #lp_submit
          %h4 Submit a brief
          .lpsub_inner
            .lpsub_leftcorner
              %span
            .lpsub_bg
              .lpsub_bg_inner
                %p
                  %span Name
                  %input{:type => "text"}/
                %p
                  %span Email
                  %input{:type => "text"}/
                %p{:style=>"width:200px;"}
                  %span File
                  #FileUpload1
                    %input#BrowserHidden1{:onChange => "document.getElementById('FileField1').value = document.getElementById('BrowserHidden1').value;", :size => "4", :type => "file"}
                      #BrowserVisible1
                        %input#FileField1{:type => "text", :size => "17"}																		
                %p.form_btn{ :style=>"float:right; position:relative; top:-80px; right:12px;"}
                  %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
            .lpsub_rightcorner
              %span


        / submit block end
      / left block end
      / right block start
      .lp_rightblock
        - if !get_languages('creative_adv_page','summary').blank?
          = raw(get_languages('creative_adv_page','summary'))
        - else
          %p{:style=>"margin-top:0px;"}  Effective advertising has instant impact and immediate appeal. It is a key aspect of marketing but it requires some different skills. Instead of building a relationship with people, it gatecrashes their attention and compels a response. To do this successfully it needs to be original and smart, both in its design and in its concept.
          %p At Gigavine we create hard-hitting advertising which achieves this across a range of different media.  
        .inner_tabing
          .content_tabbig
            %ul
              %li.div_li_tab.div_li_tab_first
                %a#1.selettab{:href => "javascript://"} Press advertising
              %li.div_li_tab
                %a#2{:href => "javascript://"} Outdoor advertising
              %li.div_li_tab
                %a#3{:href => "javascript://"} Online advertising 
              %li.div_li_tab.div_li_tab_last{:style=>"border-right:1px solid #c9c9c9;"}
                %a#4{:href => "javascript://"} Exhibition and events
          %div
            #tab1.tabdiv_new
              - if !get_languages('creative_press_adv','summary').blank?
                = raw(get_languages('creative_press_adv','summary'))
              - else
                %p Much of the focus of the world&#39;s marketing has moved online, but online advertising still can&#39;t match the tangible impact of a print advert. Whereas online users tend to automatically filter out banner ads, print adverts are considered part of the publication, sharing its values, and thus worthy of consideration.  
                .clear  
                %p Print ads can build brand awareness or promote a specific and time&#45;sensitive offer, and they can invite a response by going into newspapers or magazines as inserts or flyers. They remain an integral part of a well thought out marketing campaign. 

            #tab2.tabdiv_new{:style => "display:none"}
              - if !get_languages('creative_outdoor_adv','summary').blank?
                = raw(get_languages('creative_outdoor_adv','summary'))
              - else
                %p If visibility and prominence is what you want, nothing beats a billboard advertisement. Placed by a busy road, it can&#39;t fail to be seen by thousands of passers&#45;by each hour. Couple its sheer size with dazzling imagery, wit and a compelling offer, and you will see results.
                .clear  
                %p A simpler and cheaper form of outdoor advertising is the banner, which is usually used at the site of your premises to draw attention, show customers where to find you, and promote your services to people passing by. Banners can also be used at trade shows and special events. We can offer free&#45;standing or mounted banners as well as building and vehicle wraps, and we print on any material you require.
			   
            #tab3.tabdiv_new{:style => "display:none"}
              - if !get_languages('creative_online_adv','summary').blank?
                = raw(get_languages('creative_online_adv','summary'))
              - else
                %p Everyone knows that vast numbers of consumers now regularly go online to browse, search and shop. You can&#39;t ignore the internet - but it&#39;s easy to waste a marketing budget on poorly planned online campaigns. 
                .clear  
                %p The internet offers the perfect opportunity for carefully targeted advertising &#45; not the scattergun approach most offline advertising uses. But only if your strategy is planned with care and your advertising uses the strengths of the medium. Customers can be targeted by selecting the right websites and networks to advertise on, while emerging areas such as social media can be used to engage customers, spread the word and build loyalty.
                .clear
                %p Gigavine will provide an integrated and cost effective online advertising strategy that gives you a high return on your investment. 

            #tab4.tabdiv_new{:style => "display:none"}
              - if !get_languages('creative_adv_exhibition','summary').blank?
                = raw(get_languages('creative_adv_exhibition','summary'))
              - else
                %p An effective display needs to be far more than a few posters, and an exciting, memorable exhibition needs to utilise all the resources available to it. 
                .clear
                %p We create powerful displays &#45; and full exhibitions &#45; that make full of use of the entire available environment, including banners, brochures, exhibition stands (pop up or custom built) and even interactive exhibits. 

        .topspace  
      / right block end
  / content block end
  .topspace  
  / footer block start

  / footer block end