#crousel

  .picture
    #nivoSlider.nivoSlider
      %img{:src => '/images/pages/header_image.jpg'}
      %img{:src => '/images/nivo/nemo.jpg'}
      %img{:src => '/images/nivo/toystory.jpg'}
      %img{:src => '/images/nivo/up.jpg'}
      %img{:src => '/images/nivo/walle.jpg'}
  .text
    %h2 PROJECT TITLE
    %p
      %span Vestibulum viverra egestas auctor. Nam eget nulla lacus. Nulla nec varius urna. Donec sed augue id lectus lobortis tincidunt id a nisi. Mauris facilisis nisi ac arcu dignissim laoreet. Duis porttitor vestibulum vehicula. Nunc semper sapien porta dui lacinia luctus. Mauris felis urna, vehicula vel sodales.
    %a read more
- if flash[:notice]
  %p{:style => "color:red"} Thank you for register with us. Our Sales team will contact you soon...
#we-offer.box
  %h4 We offer creative and technical services which cross borders and open minds.
  %p As global markets grow, clear and open communication has never been more important to businesses and governments.We offer a seamless blend of creative solutions, cultural/linguistic translation and technical delivery which transform our clients’ communications.
  %p Our team of experts have helped organisations around the world to communicate and collaborate successfully across cultures and in multiple languages. We can do it for you too.
  %p True communication is about connecting people in their own language.
#news-feed.box
  %h4 Latest News from Gigavine
  %ul
    %li.dotted_border
      As global markets grow, clear and open communication has never been more important to businesses and governments.
      %a{:href => '#'} more
    %li.dotted_border
      As global markets grow, clear and open communication has never been more important to businesses and governments.
      %a{:href => '#'} more
    %li.dotted_border
      As global markets grow, clear and open communication has never been more important to businesses and governments.
      %a{:href => '#'} more
    %li
      As global markets grow, clear and open communication has never been more important to businesses and governments.
      %a{:href => '#'} more
#stackbox.box
  %ul
    %li.create
      %h4 create
      %p Original concepts and compelling designs to capture attention and establish a connection with your audience.
    %li.image
      %img{:src => '/images/pages/create.jpg'}
  %ul
    %li.image
      %img{:src => '/images/pages/adapt.jpg'}
    %li.adapt
      %h4 adapt
      %p Translation and adaption by native linguists and cultural specialists to make your message meaningful in your audience’s world.
  %ul
    %li.deliver
      %h4 deliver
      %p The technical tools and digital interfaces to carry your communication to the heart of your audience.
    %li.image
      %img{:src => '/images/pages/deliver.jpg'}
#connect-bar
  %h3 How we could help you connect:
  %ul
    %li.yellow== Design a #{link_to 'new brand', '#'} identity for your business, suitable for South America.
    %li.red== Increase your UK sales with a highly effective #{link_to 'marketing campaign', '#'}.
    %li.fuchsia== Adapt your #{link_to 'annual report', '#'} for Chinese shareholders.
    %li.blue== Build an Arabic version of your #{link_to 'website', '#'} for Middle East expansion.
    %li.green== Develop a #{link_to 'mobile app', '#'} for 15 territories in 8 languages.
    %li.olive.last== Build a multi-lingual #{link_to 'extranet', '#'} for your global customers.
  %br.clear/

= render :partial => 'form'
#join.box
  %h4 Join the team at Gigavine
  %p We are always looking for talented individuals to join our network of specialists around the world who we call upon for particular projects, or to fill staff vacancies.
  %p.em== If you feel you’ve got what it takes, please email us your CV, or send us an #{link_to 'email', '#'}.
#contact.box
  %h4 Contact us at Gigavine
  %p Please get in contact with us and we’ll see how we can assist.
  %p
    Call us on 020 3167 4370 or use our 
    %a{:href => '#'} contact form
    =# link_to "Contact Form", {:controller => 'pages',:action => 'index'}