%script{:language => "JavaScript"}

  jQuery(function() {
  jQuery.noConflict();      
  jQuery(".slidetabs").tabs(".images > div", {
      
  \// enable "cross-fading" effect
  effect: 'fade',
  fadeOutSpeed: "slow",
  autoplay: true,
  \// start from the beginning after the last tab
  rotate: true,
  interval : 300
      
  \// use the slideshow plugin. It accepts its own configuration
  }).slideshow();
  jQuery(".slidetabs").data("slideshow").play();
      
  jQuery(".slidetabs_2").tabs(".images_1 > div", {
      
  \// enable "cross-fading" effect
  effect: 'fade',
  fadeOutSpeed: "slow",
  \//autoplay: true,
  \// start from the beginning after the last tab
  rotate: true
  \//interval : 300
    
  \// use the slideshow plugin. It accepts its own configuration
  })/*.slideshow();*/
      
  });
  



	


#main-wrapper-home

  / Top holder
  = render :partial => "/pages/partials/login_links"

  / Top holder end
  = render :partial => "/pages/partials/home_header"

  / content block start
  =# render :partial => "/pages/partials/home_content"
  #main2{:style => "position:relative; z-index:1;"}
    / container for the slides
    = render :partial => "/pages/partials/slide_tabs"
    .clear
      %span
    / headding text start
    #corousol-wrapper
      .shadow_midbg
        %h4 #{get_title('home_middle')}
      .shadow_midbg
        %p
          - if !get_data('home_deliver').blank?
            = get_data('home_middle')
          - else
            As global markets grow, clear and open communication has never been more important to businesses and governments. We offer a seamless blend of creative solutions, cultural and linguistic translation and technical delivery which transform our client&#39;s communications. 
            %br
            Our team of experts have helped organisations around the world to communicate and collaborate successfully across cultures and in multiple languages.
          %br								
          %span We can do it for you too!
      %div
        / lastes news block start
        #latest-news{:onClick => "comingsoon();"  , :style => "cursor: pointer;"}
          = render :partial => "/pages/partials/latest_news"
        / lastes news block end
        / join network block start
        #join-the-network{:onClick => "location.href='/network'"  , :style => "cursor: pointer;"}
          = render :partial => "/pages/partials/join_network"
        / join network block end
        / contact block start
        #contact-us{:onClick => "location.href='/contact'", :style => "cursor: pointer;"}
          = render :partial => "/pages/partials/contact_us"
        / contact block end
    / headding text end
    .clear{:style=>"#height:20px;"}
      %span
    / tabbing block start
    #tabbing
      .tabmainblock
        = render :partial => "/pages/partials/submit_block"

    / tabbing block end
  / content block end
  .clear  
  .clear  


