
%br

.two-thirds{:style => "border:1px solid #ccc"}

  %h3 Enter Details
  %div
  = form_for @lead, :url => {:action => 'lead_create'} do |c|
    = render "shared/error_messages", :target => @lead

    = c.hidden_field :lead_frontend, :value => 1

    = c.text_field :first_name,:label => "Name", :style => "width:130px;height:10px;"
    = c.text_field :email,:style => "width:130px;height:10px;"  
    
    = c.text_field :phone,:label => "Phone No:",:style => "width:130px;height:10px;" 
    = c.text_field :city ,:style => "width:130px;height:10px;"
    
    = c.text_field :state ,:style => "width:130px;height:10px;"
    = c.select :country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates']),{}, {:style => "width:130px;"}

    = c.text_field :subject,:style => "height:10px;"    
    = c.text_area :notes,:label => "Comments"

    = c.submit "Create"