
%br

.two-thirds

  %h3 Contact Us
  %div
  = form_for @prospect, :url => {:action => 'lead_create'} do |c|
    = render "shared/error_messages", :target => @prospect

    =# c.hidden_field :lead_frontend, :value => 1
    = c.hidden_field :source_from, :value => 'Website'
    %table
      %tr
        %td
          %label Name
        %td
          = c.text_field :name,:label => "Name", :style => "width:130px;height:10px;"
        %td
          %label Email
        %td
          = c.text_field :email,:style => "width:130px;height:10px;"  
      %tr
        %td
          %label Phone
        %td	  
          = c.text_field :phone,:label => "Phone No:",:style => "width:130px;height:10px;" 
        %td
          %label City
        %td
          = c.text_field :city ,:style => "width:130px;height:10px;"
      %tr
        %td
          %label State    
        %td
          = c.text_field :state ,:style => "width:130px;height:10px;"
        %td
          %label Country
        %td
          = c.select :country,country_options_for_select(:country, ['United Kingdom', 'United Arab Emirates']),{}, {:style => "width:130px;"}
      %tr
        %td
          %label Subject
        %td
          = c.select( :subject, options_for_select(['Sales Department','Lead Department','Customer Dapartment','Marketing Department']),:include_blank => 'Select Subject')  
      %tr
        %td
          %label Message    
        %td
          = c.text_area :message,:label => "Comments",:style => "height:100px;vertical-align:top"

    = c.submit "Submit"