%div.two-thirds
  %h3 Translation
  %div
    %p Our experts can translate into and out of more than 150 languages across a wide range of different specialist subject areas.
    
    %p At Gigavine we use only native speakers for our translation services, as this is the only way can we guarantee the correct nuances. The goal is to make the material sound as though it was originally written in that language, with no sense of strangeness or distance. 
    
    %p In addition, our translators have specialist knowledge in many different fields. This means we can offer high quality certified translations of official documents, including legal, medical, marketing and business documents, as well as translations of literary works, including TV, film and theatre productions. 
    
    %p We approach all our translation with a great deal of caution, care and confidentiality, and the process includes review, revision and proofing of documents for any spelling or grammatical errors, cultural and technical consistency, and formatting. We also offer pure proof-reading services in many different languages, picking up on general issues or looking for particular issues that you brief us on.
%div.box.equalized.azure.last
  %h3 Marketing/Business
  %div
    %p If you’re marketing products and services in new territories, it’s exceptionally easy to make mistakes that a native of the area would spot straight away. We help companies tune their positioning and messaging so they avoid making these mistakes and communicate in ways that are not only effective, but also appropriate in the particular culture. 

    %p We translate outward-facing business documents such as brochures and annual reports, as well as internal materials such as
%br.clear/
%div.box.equalized.blue
  %h3 Technical
  %div
    %p Scientific papers, technical manuals, contracts and proposals, software documentation, data sheets, terms and conditions – we offer technical translation services that cover all these materials and more. 

    %p Our technical translators have a professional background in the fields they specialise in, so you can be sure that their work will be accurate
%div.box.equalized.red
  %h3 Literary
  %div
    %p Unlike verbatim translation, literary translation is an attempt to express the author’s message, evoking the same mood and style of the original narrative to a different audience. Besides having a profound knowledge of the foreign languages and cultures involved, our literary translators are also creative writers and literary experts in their own right, with a mastery of both classical and contemporary works. 

    %p In recent years our literary translation work has regularly included film and theatre subtitling and dubbing.
%div.box.equalized.yellow
  %h3 Legal
  %div
    %p In law, precise and specific meaning can become crucial, so it’s essential to have a legal document translated with the utmost accuracy by an expert in legal language. This is why we only use translators who have a comprehensive working knowledge of the legal industry or have undergone extensive training in legal translation. 

    %p We provide legal translation services in more than 100 languages including Spanish, French, Portuguese, Italian, Arabic and German. 
%br.clear/
%div.box.small-equalized.green
  %h3 Medical
  %div
    %p Medical and pharmaceutical texts require translation by skilled experts in the field, as it is essential they are accurate and easily understood by a native speaker. That’s why at Gigavine we insist on using qualified doctors and pharmacists for this kind of work.

%div.form-box.small-equalized.dark
  %div
    %h3 Submit a brief
    %hr
    = form_tag 'boo', :method => 'post' do
      %p
        = label_tag :name, t(:'site.quote.Name')
        = text_field_tag :name
      %p
        = label_tag :email, t(:'site.quote.Email')
        = email_field_tag :email
      %p.file
        = label_tag :file, t(:'site.quote.Choose_a_file')
        = file_field_tag :file
        = submit_tag t(:'site.quote.Send'), :name => nil
%div#contact-us-box
  %h3 Contact us at Gigavine
  %hr
  %p Please get in contact with us and we’ll see how we can assist.
  %p
    Call us on 020 3167 4370 or use our 
    %a{:href => '/contact'} contact form