#creative_copywriting.sign_up{:style => "display:none"}
  %h3#see_id  LANGUAGES / COPYWRITING
  %br.clear
  %div
    = form_for :creative_page, :url => {:controller => "pages",:action => "creative_create"},:html =>{:name => "language_writing_form",:onsubmit => "return creative_copywrite_validate();"} do |f|
      = f.hidden_field :page_section,  :value => "languages_copywriting_page"

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "copywrite_summary", :value => get_languages('languages_copywriting_page','summary')

      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading:
        = f.text_field :title, :style => "width:600px;", :id => "copywrite_heading", :value => get_languages('languages_copywriting_page','title') 


      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary2:
        = f.text_area :network, :style => "width:600px;",  :id => "copywrite_summary2", :value => get_languages('languages_copywriting_page','summary2')




      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  
  #tabvanilla.widget
    %ul.tabnav
      %li
        %a{:href => "#createcopyseo"} SEO  


    #createcopyseo.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "creative_artwork_form"} do |f|
        = f.hidden_field :page_section,  :value => "language_copy_seo"
        %label
          %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Description:
          = f.text_area :content, :style => "width:600px;",:id => "lang_heading", :value => get_seo('language_copy_seo','desc')
        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Keywords:
          = f.text_area :news, :style => "width:600px;", :id => "lang_summary", :value => get_seo('language_copy_seo','key')
        %p.clearspace  
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    .clear 

  %a#close_x.close.sprited{:href => "#"} close
