#language_consultancy.sign_up{:style => "display:none"}
  %h3#see_id  LANGUAGES / CONSULTANCY
  %br.clear
  %div
    = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "language_consultancy_form",:onsubmit => "return lang_consultancy_validate();"} do |f|
      = f.hidden_field :page_section,  :value => "language_consultancy_page"


      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "lang_consultancy_summary", :value => get_languages('language_consultancy_page','summary')

      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading:
        = f.text_field :title, :style => "width:600px;", :id => "lang_consultancy_heading", :value => get_languages('language_consultancy_page','title')


      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary2:
        = f.text_area :network, :style => "width:600px;",  :id => "lang_consultancy_summary1", :value => get_languages('language_consultancy_page','summary2')

      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  
  #tabvanilla.widget
    %ul.tabnav
      %li
        %a{:href => "#lanconseo"} SEO  


    #lanconseo.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "lang_form"} do |f|
        = f.hidden_field :page_section,  :value => "language_consult_seo"
        %label
          %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Description:
          = f.text_area :content, :style => "width:600px;",:id => "lang_heading", :value => get_seo('language_consult_seo','desc')
        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Keywords:
          = f.text_area :news, :style => "width:600px;", :id => "lang_summary", :value => get_seo('language_consult_seo','key')
        %p.clearspace  
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    .clear

  %a#close_x.close.sprited{:href => "#"} close
