#language_translation.sign_up{:style => "display:none"}
  %h3#see_id  LANGUAGES / TRANSLATION
  %br.clear
  %div
    = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "lang_form",:onsubmit => "return lang_trans_validate();"} do |f|
      = f.hidden_field :page_section,  :value => "language_translation_page"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading:
        = f.text_area :title, :style => "width:600px;",:id => "lang_translation_heading", :value => get_languages('language_translation_page','title')

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;", :id => "lang_translation_summary", :value => get_languages('language_translation_page','summary')
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  
  %br.clear
  #tabvanilla.widget
    %ul.tabnav
      %li
        %a.c1{:href => "#technical"} TECHNICAL
      %li
        %a{:href => "#medical"} MEDICAL
      %li
        %a{:href => "#marketing_business"} MARKETING & BUSINESS
      %li
        %a{:href => "#literary"} LITERARY
      %li
        %a{:href => "#legal"} LEGAL
    %br.clear
    #technical.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "langu_translation",:onsubmit => "return language_translation('lang_trans_technical');"} do |f|
        = f.hidden_field :page_section,  :value => "lang_trans_technical"
        %label.headding_label
          %strong Technical :
          = f.text_area :content, :style => "width:600px;", :id => "technical_content",:value => get_data('lang_trans_technical')
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / /Create
    #medical.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "langu_translation",:onsubmit => "return language_translation('lang_trans_medical');"} do |f|
        = f.hidden_field :page_section,  :value => "lang_trans_medical"
        %label.headding_label
          %strong Medical :
          = f.text_area :content, :style => "width:600px;", :id => "medical_content",:value => get_data('lang_trans_medical')
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / /Adapt
    #marketing_business.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "langu_translation",:onsubmit => "return language_translation('lang_trans_marketing');"} do |f|
        = f.hidden_field :page_section,  :value => "lang_trans_marketing"
        %label.headding_label
          %strong Marketing :
          = f.text_area :content, :style => "width:600px;", :id => "create_content",:value => get_data('lang_trans_marketing')
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / Deliver
    #literary.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "langu_translation",:onsubmit => "return language_translation('lang_trans_literary');"} do |f|
        = f.hidden_field :page_section,  :value => "lang_trans_literary"
        %label.headding_label
          %strong Literary :
          = f.text_area :content, :style => "width:600px;", :id => "create_content",:value => get_data('lang_trans_literary')
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / Deliver
    #legal.tabdiv
      = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "langu_translation",:onsubmit => "return language_translation('lang_trans_marketing');"} do |f|
        = f.hidden_field :page_section,  :value => "lang_trans_legal"
        %label.headding_label
          %strong Legal :
          = f.text_area :content, :style => "width:600px;", :id => "create_content",:value => get_data('lang_trans_legal')
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / Deliver
  .clearspace  



  %a#close_x.close.sprited{:href => "#"} close