
.create_headder{:style => "height:auto"}
  .create_nav
    .create_navleftblock
      #logo
        %a{:alt => "Gigavine", :href => "http://www.gigavine.com/", :title => ""}
          %img{:alt => "Gigavine", :src => "/images/frontend/gigavine-logo.png", :title => "Gigavine"}/
    .create_navrightblock
      .create_register
        .reg_text3
          %a#image_frm_register{:href => "javascript://"}
            %span{:id=>"selected_lang1"} Register
            %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
            #register.select_language_reg
              %ul
                %li{:style=>"height:10px;background:#fff"} 
                  %span>
                %li
                  %a#Client.languages_select1{:href => "/clients/signup"}
                    %span> 
                    &nbsp; &nbsp;Client
                %li
                  %a#Talent.languages_select1{:href => "/talents/registration"}
                    %span> 
                    &nbsp; &nbsp;Talent
        - if !session[:user]
          .reg_text
            %a#try-1{:href => "javascript://"}
              Login
              %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
            %fieldset#signin_menu.login_box               
              = form_for(:login, :url => {:controller => "users", :action => "login"}, :html => {:id =>"signin",:method => "post"}, :onsubmit => "alert('hi')") do |f|
                %p
                  %label Username
                  = f.text_field :username, :tabindex => "4", :title => "username", :value => (!cookies[:username].blank? ? cookies[:username] : "username") , :onclick => "if(this.value=='username')this.value='';" 
                %p
                  %label Password
                  = f.password_field :password, :tabindex => "5", :value =>  (!cookies[:password].blank? ? cookies[:password]: "password") , :title => "password", :onclick => "if(this.value=='password')this.value='';"
                %p{:style=>"color:#ff0000"}
                  - if flash[:error]=="Invalid user name and password"
                    Wrong username and password
                %p
                  = f.submit :id => "signin_submit", :tabindex => "6", :value => "Authenticate",:class=>"count_btn_new",:style=>"width:75px!important; float:left!important; margin-top:10px!important; margin-bottom:10px!important;", :onclick=>"$('#signin').submit()"
                =# link_to 'Save', "#", :onclick=>"$('#signin').submit()" 
        - else
          .reg_text
            %a#try-1{:href => "/logout/users" }
              Logout
        .reg_text1#reg_t1
          Current Language: 
          %a#image_frm_div{:href => "javascript://"}
            %span{:id=>"selected_lang"}English
            %img{:alt => "", :src => "/images/frontend/down-arrow.jpg", :title => ""}/
          #products.select_language
            %ul
              %li{:style=>"height:10px;background:#fff"} 
                %span>
              %li
                %a#English.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;English
              %li
                %a#French.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;French
              %li
                %a#Arabic.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Arabic
              %li
                %a#Chinese.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Chinese
              %li
                %a#Japanese.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;Japanese
              %li
                %a#German.languages_select{:href => "javascript://"}
                  %span> 
                  &nbsp; &nbsp;German



        .reg_text2
          = form_for(:search_form, :url => {:controller => "pages", :action => "search_site"}, :html => {:id =>"signin",:method => "post"}) do |s|
            = s.text_field :search, :value => "Search", :onFocus => "if(this.value == 'Search') {{this.value = '';}{this.style.cursor='text'}}", :onblur => " if (this.value == '') {this.value = 'Search';}"
            %input{:src => "/images/frontend/top_inputarrow.jpg", :style => "width:12px!important;", :type => "image"}
            =# s.image_submit "/images/frontend/top_inputarrow.jpg", :class => 'long'
            =# link_to image_tag("/images/frontend/top_inputarrow.jpg"), searchsite_path, :onclick => "this.href += '?query=' + $('#search').val();"   
            -#%a{:href => "searchsite?query="+ ('#search').value}
              -# %img{:src => "/images/frontend/top_inputarrow.jpg"}/

      = render :partial => "/pages/partials/top_menu"
