.slidetabs_2
  .slidetabs_2_inner
    %ul
      %li.menu_middle
        %a{:href => "#"} Create
      %li.menu_middle.custom_adapt
        %a{:href => "#"} Adapt
      %li.menu_middle.custom_deliver
        %a{:href => "#"} Deliver
.images_1
  .create
    .clear
    .sub_content
      / <h3>Create</h3>

      - if get_image('home_create') != ""
        = image_tag get_image('home_create'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
        - if !get_data('home_create').blank?
          = truncate(raw(get_data('home_create')),:length => 120)
        - else
          Original concepts and compelling designs to capture attention and establish a connection with your audience.
        %a{:href => "/creative", :class=>"blue"}
          Find out more
          %span.span_1
            &nbsp; &nbsp;


  .adapt
    .sub_content
      / <h3>Create</h3>
      - if get_image('home_adapt') != ""
        = image_tag get_image('home_adapt'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
          
        - if !get_data('home_adapt').blank?
          = truncate(raw(get_data('home_adapt')),:length => 120)
        - else
          Translation and adaption by native linguists and cultural specialists to make your message meaningful in your audience's world.

        %a{:href => "/languages", :class=>"red"}
          Find out more
          %span.span_2
            &nbsp; &nbsp;

  .deliver
    .sub_content
      / <h3>Create</h3>
      - if get_image('home_deliver') != ""
        = image_tag get_image('home_deliver'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
        - if !get_data('home_deliver').blank?
          = truncate(raw(get_data('home_deliver')),:length => 120)
        - else
          The technical tools and digital interfaces to carry your communication to the heart of your audience.
        %a{:href => "/technology", :class=>"green"}
          Find out more
          %span.span_3
            &nbsp; &nbsp;
