.slidetabs_2
  .slidetabs_2_inner
    %ul
      %li.menu_middle
        %a{:href => "#"} Create
      %li.menu_middle
        %a{:href => "#"} Adapt
      %li.menu_middle{:style => "margin:0; position:relative; left:1px;"}
        %a{:href => "#"} Deliver
.images_1
  .create
    .clear
    .sub_content
      / <h3>Create</h3>

      - if get_image('home_create') != ""
        = image_tag get_image('home_create'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
        - if !get_data('home_create').blank?
          = truncate(get_data('home_create'),:length => 120)
        - else
          Original concepts and compelling designs to capture attention and establish a connection with your audience.

        %span
          %a{:href => "/creative"} Find out more
  .adapt
    .sub_content
      / <h3>Create</h3>
      - if get_image('home_adapt') != ""
        = image_tag get_image('home_adapt'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
          
        - if !get_data('home_adapt').blank?
          = truncate(get_data('home_adapt'),:length => 120)
        - else
          Translation and adaption by native linguists and cultural specialists to make your message meaningful in your audience's world.

        %span.span_1
          %a{:href => "/languages"} Find out more
  .deliver
    .sub_content
      / <h3>Create</h3>
      - if get_image('home_deliver') != ""
        = image_tag get_image('home_deliver'),:class => "fl_left"
      - else
        %img.fl_left{:src => "/images/frontend/content-image.png"}
      %p
        - if !get_data('home_deliver').blank?
          = truncate(get_data('home_deliver'),:length => 120)
        - else
          The technical tools and digital interfaces to carry your communication to the heart of your audience.

        %span.span_2
          %a{:href => "/technology"} Find out more