

/ submit block start
#submit-a-brief
  %h4 Submit a brief
  .sub_inner
    .sub_leftcorner
      %span
    .sub_bg
      .sub_bg_inner
        = form_for :data, :url => {},:html => {:name=> "forms1"} do 
          %p
            %span Name
            %input{:type => "text"}/
          %p
            %span Email
            %input{:type => "text"}/
          %p{:style=>"width:370px; float:left;"}
            %span File
            #FileUpload2
              %input#BrowserHidden2{:onChange => "document.getElementById('FileField2').value = document.getElementById('BrowserHidden2').value;", :size => "28", :type => "file"}
                #BrowserVisible2
                  %input#FileField2{:type => "text", :size => "17"}																		
          %p.form_btn{ :style=>"float:right; position:relative; top:-33px; right:12px;"}
            %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/

    .sub_rightcorner
      %span
		  
		  

	    

/ submit block end
/ how we help block start
#how-we-help
  %h4 How we help connect
  .help_block
    #main
      .container
        #slider
          .product
            .pic
              - if !get_help('help_connect_one','image').blank?
                = image_tag get_help('help_connect_one','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_one','title')
                = get_help('help_connect_one','title')
              - else
                Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              - if !get_help('help_connect_two','image').blank?
                = image_tag get_help('help_connect_two','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_two','title')
                = get_help('help_connect_two','title')
              - else
                Develop a mobile app for 15 territories, in 8 languages
          .product
            .pic
              - if !get_help('help_connect_three','image').blank?
                = image_tag get_help('help_connect_three','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_three','title')
                = get_help('help_connect_three','title')
              - else
                Increase your UK sales with a highly effective marketing campaign
          .product
            .pic
              - if !get_help('help_connect_four','image').blank?
                = image_tag get_banner('help_connect_four','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_four','title')
                = get_help('help_connect_four','title')
              - else
                Adapt your annual report for Chinese shareholders
          .product
            .pic
              - if !get_help('help_connect_five','image').blank?
                = image_tag get_banner('help_connect_five','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_five','title')
                = get_help('help_connect_five','title')
              - else
                Design a new brand identity for your business, suitable for South America
          .product
            .pic
              - if !get_help('help_connect_six','image').blank?
                = image_tag get_banner('help_connect_six','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_six','title')
                = get_help('help_connect_six','title')
              - else
                Build a multi-lingual extranet for your global customers
        .clear
/ how we help block end