

/ submit block start
#submit-a-brief
  %h4 Submit a brief
  .sub_inner
    .sub_leftcorner
      %span
    .sub_bg
      .sub_bg_inner
        = form_for :data, :url => {},:html => {:name=> "forms1"} do 
          %p
            %span Name
            %input{:type => "text"}/
          %p
            %span Email
            %input{:type => "text"}/
          %p{:style=>"width:370px; float:left;"}
            %span File
            %input#browsetext{:name => "browsetext", :onClick => "document.forms1.AddPicture.click();", :style => "width:240px;", :type => "text", :value => ""}/
            %input{:accept => "image/gif,image/jpeg", :name => "browse2", :onChange => "document.forms1.browsetext.value=document.forms1.browse2.value;", :style => "display: none;", :type => "file", :value => ""}/
            %img{:alt => "Add Picture", :height => "22", :name => "AddPicture", :onClick => "document.forms1.browse2.click();document.forms1.browse2.disabled=false;", :src => "/images/frontend/browse_btn1.png", :style => "margin:0px 0px 0px 4px", :width => "51"}/
          %p.form_btn{:style=>"float:left; width:50px;"}
            %input.form_submit{:src => "/images/frontend/form_submit.png", :type => "submit", :value => ""}/
	    

    .sub_rightcorner
      %span
/ submit block end
/ how we help block start
#how-we-help
  %h4 How we help connect
  .help_block
    #main
      .container
        #slider
          .product
            .pic
              - if !get_help('help_connect_one','image').blank?
                = image_tag get_help('help_connect_one','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_one','title')
                = get_help('help_connect_one','title')
              - else
                Build an Arabic version of your website for Middle East expansion
          .product
            .pic
              - if !get_help('help_connect_two','image').blank?
                = image_tag get_help('help_connect_two','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_two','title')
                = get_help('help_connect_two','title')
              - else
                Develop a mobile app for 15 territories, in 8 languages
          .product
            .pic
              - if !get_help('help_connect_three','image').blank?
                = image_tag get_help('help_connect_three','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_three','title')
                = get_help('help_connect_three','title')
              - else
                Increase your UK sales with a highly effective marketing campaign
          .product
            .pic
              - if !get_help('help_connect_four','image').blank?
                = image_tag get_banner('help_connect_four','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_four','title')
                = get_help('help_connect_four','title')
              - else
                Adapt your annual report for Chinese shareholders
          .product
            .pic
              - if !get_help('help_connect_five','image').blank?
                = image_tag get_banner('help_connect_five','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_five','title')
                = get_help('help_connect_five','title')
              - else
                Design a new brand identity for your business, suitable for South America
          .product
            .pic
              - if !get_help('help_connect_six','image').blank?
                = image_tag get_banner('help_connect_six','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_six','title')
                = get_help('help_connect_six','title')
              - else
                Build a multi-lingual extranet for your global customers
        .clear
/ how we help block end