= javascript_include_tag "frontend/mopSlider/mopSlider-2.5.js"
:javascript
  jQuery(document).ready(function () {
  jQuery("#slider").mopSlider({'w':530, 'h':172, 'sldW':460, 'btnW':35, 'itemMgn':25, 'shuffle':'y', 'auto':'y', 'move':1000, 'interval':1500, 'type':'black'});


	
  });		

/ submit block start
#submit-a-brief
  %h4 Submit a brief
  = form_for :brief_detail, :url =>{:controller=> :pages, :action => :submit_brief_pages,:id => 'home'},:html => {:multipart => :true,:onsubmit => "return submit_brief_form();"} do |f|
    .sub_inner
      .sub_leftcorner
        %span
      .sub_bg
        .sub_bg_inner
          =# form_for :data, :url => "#",:html => {:name=> "forms1"} do 
          %p
            %span Name
            = f.text_field "name",:id=> "briefdetail_name"
          %p
            %span Email
            = f.text_field "email", :id=> "briefdetail_email"
            = hidden_field_tag "section_name", "Home"
          %p{:style=>"width:370px; float:left;"}
            %span File
            #FileUpload2
              %input#BrowserHidden2{:onChange => "getElementById('FileField2').value = getElementById('BrowserHidden2').value;", :size => "28", :type => "file", :name => "brief_detail[attachment]"}
                #BrowserVisible2
                  %input#FileField2{:type => "text", :size => "17" , :style=>"#position:relative; #top:-18px;"}																		
          %p.form_btn{ :style=>"float:right; position:relative; top:-33px; #top:-66px; right:12px; #height:23px;"}
            %input.form_submit{:src => "#", :type => "submit", :value => "Submit", :style=>"#height:23px;"}/

      .sub_rightcorner
        %span
		  
		  

	    

/ submit block end
/ how we help block start
#how-we-help
  %h4 How we help you connect
  .help_block
    #main
      .container
        #slider
          .product
            .pic
              - if !get_help('help_connect_one','image').blank?
                = image_tag get_help('help_connect_one','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_one','title')
                = raw(get_help('help_connect_one','title'))
              - else
                Build an Arabic version of your <b>website</b> for Middle East expansion
          .product
            .pic
              - if !get_help('help_connect_two','image').blank?
                = image_tag get_help('help_connect_two','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_two','title')
                = raw(get_help('help_connect_two','title'))
              - else
                Develop a <b>mobile app</b> for 15 territories, in 8 languages
          .product
            .pic
              - if !get_help('help_connect_three','image').blank?
                = image_tag get_help('help_connect_three','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_three','title')
                = raw(get_help('help_connect_three','title'))
              - else
                Increase your UK sales with a highly effective <b>marketing campaign</b>
          .product
            .pic
              - if !get_help('help_connect_four','image').blank?
                = image_tag get_banner('help_connect_four','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_four','title')
                = raw(get_help('help_connect_four','title'))
              - else
                Adapt your <b>annual report</b> for Chinese shareholders
          .product
            .pic
              - if !get_help('help_connect_five','image').blank?
                = image_tag get_banner('help_connect_five','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_five','title')
                = raw(get_help('help_connect_five','title'))
              - else
                Design a new <b>brand identity</b> for your business, suitable for South America
          .product
            .pic
              - if !get_help('help_connect_six','image').blank?
                = image_tag get_banner('help_connect_six','image')
              - else
                %img{:alt => "?Dell Vostro A860", :height => "113", :src => "/images/frontend/content/1.png", :width => "116"}/
            .title
              - if get_help('help_connect_six','title')
                = raw(get_help('help_connect_six','title'))
              - else
                Build a multi-lingual <b>extranet</b> for your global customers
        .clear
/ how we help block end
