#technology_commerce.sign_up{:style => "display:none"}
  %h3#see_id  TECHNOLOGY / E-COMMERCE
  %br.clear
  %div
    = form_for :technology_page, :url => {:controller => "pages",:action => "technology_create"},:html =>{:name => "tech_commerce_form",:multipart => :true,:onsubmit => "return tech_commerce();"} do |f|
      = f.hidden_field :page_section,  :value => "tech_commerce_page"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Title:
        = f.text_field :title, :style => "width:600px;", :id => "creative_design_heading", :value => get_languages('tech_commerce_page','title') 

        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Image:
          %input{:type=>"file", :name=>"technology_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :id => "commerce_summary", :value => get_languages('tech_commerce_page','summary')


      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  #tabvanilla.widget
    %ul.tabnav
      %li
        %a{:href => "#techcomseo"} SEO

    #techcomseo.tabdiv
      = form_for :technology_page, :url => {:controller => "pages",:action => "technology_create"},:html =>{:name => "tech_form"} do |f|
        = f.hidden_field :page_section,  :value => "technology_commerce_seo"
        %label
          %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Description:
          = f.text_area :content, :style => "width:600px;",:id => "lang_heading", :value => get_seo('technology_commerce_seo','desc')
        %label
          %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Keywords:
          = f.text_area :news, :style => "width:600px;", :id => "lang_summary", :value => get_seo('technology_commerce_seo','key')
        %p.clearspace  
        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"} 
  .clear  

  %a#close_x.close.sprited{:href => "#"} close
