.box.sentence
  %h2 Edit Sentence
  = form_for @sentence, :url => glossary_sentence_path(@sentence) do |s|
    = render "shared/error_messages", :target => @sentence
    = s.select :language, Gigavine::Preferences.translated_languages, {}, :class => 'language_toggle', :rel => s.field_id_for(:text)
    = s.text_area :text
    %h3 Provide a translation
    - s.fields_for :translations do |t|
      = t.select :language, Gigavine::Preferences.translated_languages, {}, :class => 'language_toggle', :rel => t.field_id_for(:text)
      = t.text_area :text
    = s.submit