.box.sentence
  %p
    = language_flag_for(@sentence)
    = @sentence.text
  %hr
    %ul.word-definition-translations
      - @sentence.translations.each do |t|
        %li
          %p
            = language_flag_for(t)
            = t.text
          %p
            = link_to 'Edit Translation', edit_glossary_sentence_translation_pair_path(@sentence, t.translation_source)
            |
            = link_to 'Delete Translation', glossary_sentence_translation_pair_path(@sentence, t.translation_source), :confirm => 'Are you sure?', :method => :delete
  %p
    = link_to "Edit", edit_glossary_sentence_path(@sentence)
    |
    = link_to 'Delete', glossary_sentence_path(@sentence), :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "Add translation", new_glossary_sentence_translation_pair_path(@sentence)
    