.box.sentence
  %p
    = language_flag_for(@sentence)
    = @sentence.text
    = flag_toggle_for @sentence
  %hr
    %ul.word-definition-translations
      - @sentence.translations.each do |t|
        %li
          %p
            = language_flag_for(t)
            = t.text
          %p
            - if can? :update, t
              = link_to 'Edit Translation', edit_glossary_sentence_translation_pair_path(@sentence, t)
            |
            - if can? :destroy, t
              = link_to 'Delete Translation', glossary_sentence_translation_pair_path(@sentence, t), :confirm => 'Are you sure?', :method => :delete
  %p
    - if can? :update, @sentence
      = link_to "Edit", edit_glossary_sentence_path(@sentence)
    |
    - if can? :destroy, @sentence
      = link_to 'Delete', glossary_sentence_path(@sentence), :confirm => 'Are you sure?', :method => :delete
    |
    - if can? :create, Sentence
      = link_to "Add translation", new_glossary_sentence_translation_pair_path(@sentence)

.comment-box
  %p
    = notice
  %p
    Comments/ Q&A
    %span
      == (#{@comments.length})
    - if can? :update, @sentence
      = link_to 'Add Comment', "#", :rel => "#comment_form", :id => "add_comment"
  %hr
    %ul
      - @comments.each do |comment|
        %li
          %p
            = image_tag comment.user.avatar(:medium)
            = comment.user.user_name
            \-
            = comment.created_at.to_s(:db)
          %p
            = comment.comment
          %p.comment-buttons
            - if can? :update, @sentence
              = link_to 'Delete', glossary_comment_path(comment), :method => 'delete'
          %hr.comment-line
#comment_form.simple_overlay
  %h3
    Add Comment
  = form_for Comment.new, :url => glossary_comments_path do |w|
    = w.text_area :comment
    = hidden_field(:comment, :commentable_id, {:value => @sentence.id.to_s})
    = hidden_field(:comment, :commentable_type, {:value => 'Sentence'})
    = w.submit