.box.sentence
  %h3 Document Details
  %div

    %span Author:
    = @document.author.user_name
    %br
    %span Created on:
    = @document.created_at.strftime("%b %m, %Y")
    
    %p
    %span Doc Name:
    = @document.name 
    
    %p
    %span Doc Size:
    = calculate_document_size(@document)

    %p
    %span No.of Words:
    = calculate_wordcount(@document)


