
- content_for :parent do

  %br
  %div{:style=>" width:250px; float:left;"}
    %p{:style=>" width:220px; font-size:18px; margin:0px auto;"}
      = "NEW ASSIGNMENT"


    - if !@source_documents.blank?
    %p{:style=>" width:220px; font-size:18px; margin:0px auto;"}
      = "FIND SOURCE"


- content_for :main do
  %h3 #{@source_document.name} > Upload new document
  %div{:style=>"height:auto; overflow-y:scroll; overflow-x:hidden;"}
    = form_for @document, :url => documents_path(:folder_id => params[:folder_id]),:html => {:multipart => true} do |d|
      = render "shared/error_messages", :target => @document
      = d.hidden_field :first_name, :value => 'test'
      = d.hidden_field :last_name, :value => 'last'
      = d.hidden_field :source_document_id, :value => params[:folder_id]
      = d.text_field :name
      = d.file_field :document    
      =# d.text_area :description
      %div
        %div{:style => "float:left;"}
          = d.submit
        %div{:style => "float:left;padding-left:10px;text-align"}
          = link_to "Cancel", documents_path


