- @title = 'View Document Info'
%p
  =# button_to_function 'Edit', "window.location = '#{url_for(:action => :edit, :doc_id => @document.id)}'"
  =# button_to_function 'Edit in iFrame', "window.location = '#{url_for(:action => :edit_iframe, :doc_id => @document.id)}'"
  %p
    %strong Title:
    = @document.title
  %p
    %strong Author:
    = @document.author_name
    (#{@document.author_email})
  %p
    %strong Type:
    = @document.type
  %p
    %strong Published:
    = @document.published.strftime("%m/%d/%Y")
  %p
    %strong Updated:
    = @document.updated.strftime("%m/%d/%Y")

  %h3 Folders (in process)
  - form_for '', :url => {:action => :update_doc_folder, :doc_id => @document.id, :do => 'add'} do
    %p
      = select_tag :folder, options_for_select(@account.folders.select{|f| !@document.folders.include?(f.title) }.collect{|f| [f.title, f.id]})
      = submit_tag 'Add to Folder'

  %h3 Download As:
  =# render :partial => @document.type +"_download"
  =# link_to 'Doc', :action => :googledocument_download, :doc_id => @document.id, :type => 'doc'
  = link_to 'Doc'
  
  %h3 Permissions
  %strong Add User
  - form_for '', :url => {:action => :add_user, :doc_id => @document.id} do
    %p
      Email: #{text_field_tag :user} Role: #{select_tag :role, options_for_select(['writer', 'reader'])} #{submit_tag 'Save'}
  %ul
    - @document.access_rules.each do |a|
      %li
        = a.user
        \- #{a.role}
        - if a.role != 'owner'
          (#{link_to 'X', {:action => :remove_user, :user => a.user, :doc_id => @document.id}, :confirm => 'Are you sure you want to remove this user?'})
										
  = link_to "Back to list", googledoc_list_documents_path