= javascript_include_tag "tool-tip.js"
%table{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "100%", :id => "result_block"}
  %tr
    %th.first_td  
    %th{:width => "40%"} English
    %th  Arabic
    %th.last_edit Functions
  %div
    - if !@sentences.blank? 
      - for sentence in @sentences
        %tr{:onmouseout => "this.style.background=''", :onmouseover => "this.style.background='#e3f3ff'" , :class => cycle("odd", "table_structure_inner_color")}
          %td
            - if (sentence.flagged_by_id != nil)
              %img{:alt => "flag", :src => "/images/clients/flag.png"}/
            - else  
              %img{:alt => "unflag", :src => "/images/clients/unflag.png"}/

          %td
            %div{:style => "float:left"}
              %span.toolTip_text{:title=>"User comment goes here...."}
                = sentence.text
            .tag_box_display
              %ul
                - sentence.tags.each do |tag|
                  %li
                    .tags
                      = tag.tag
                      %span
                       
                        = link_to image_tag("/images/pagination/close_tags.gif"), deletetag_url(:tag_id => tag,:id => params[:id]), :remote => 'true' 

          %td{:style => "text-align:right"}
            %span.toolTip_text{:title=>"User comment goes here....",:style => "font-size:14px;"}
              = get_arabic_data(sentence.id)
          %td
            .user_action_block.glossary_user_action_block
              .add_view_1
                %ul
                  %li
                    = link_to "Edit", edit_sentence_url(:sid => sentence.id), :remote => :true,:id=>"edit_sentence",:class=>"menuitem statusicon_1",:name => "sentence_edit"

                  %li
                    = link_to "Flag", addflag_url(:sid => sentence.id,:id => params[:id]), :remote => :true
                  %li
                    = link_to "Tag",new_tag_url(:sid=> sentence.id),:remote => :true,:id=>"tag_sentence",:class=>"menuitem statusicon_1",:name => "sentence_tag"
                  %li
                    = link_to "Comment",comments_url(:sid=> sentence.id),:remote => :true,:id=>"comment_sentence",:class=>"menuitem statusicon_1",:name => "sentence_comment"
                  %li
                    = link_to "Delete",delete_sentence_url(:id => sentence), :remote => :true


      / head block wrapper end
    - else
      %tr{:onmouseout => "this.style.background='#f8f8f8'", :onmouseover => "this.style.background='#e3f3ff'"}
        %td
          &nbsp;

        %td{:colspan => 3} No Results Found with your search
      

.clear_all
.pagination_block
  = paginate @sentences,:remote => :true
  
      
:javascript
  $("#table_grid table tr").mouseover(function () {
    $(this).find(".add_view_1").show();
    }).mouseout(function () {
    $(this).find(".add_view_1").hide();
    });

      //select all the a tag with name equal to modal
      $('a[name=modal]').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          //Get the A tag
          var id = $(this).attr('href');
  
          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $(id).css('top', winH / 2 - $(id).height() / 2);
          $(id).css('left', winW / 2 - $(id).width() / 2);
  
          //transition effect
          $(id).fadeIn(2000);
  
      });
    
    
    //select all the a tag with name equal to modal
      $("#popup").click(function () {

          //Cancel the link behavior
         // e.preventDefault();

          //Get the A tag
         // var id = $(this).attr('href');
          $('#dialog_new_term_test').show();

          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $('#dialog_new_term_test').css('top', winH / 2 - $('#dialog_new_term_test').height() / 2);
          $('#dialog_new_term_test').css('left', winW / 2 - $('#dialog_new_term_test').width() / 2);
  
          //transition effect
          $('#dialog_new_term_test').fadeIn(2000);
	  
	  
  
      });
      
     //select all the a tag with name equal to modal
      $('a[name=sentence_edit]').click(function () {

          //Cancel the link behavior
         // e.preventDefault();

          //Get the A tag
         // var id = $(this).attr('href');
          $('#dialog_new_term_test').show();

          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $('#dialog_new_term_test').css('top', winH / 2 - $('#dialog_new_term_test').height() / 2);
          $('#dialog_new_term_test').css('left', winW / 2 - $('#dialog_new_term_test').width() / 2);
  
          //transition effect
          $('#dialog_new_term_test').fadeIn(2000);
	  
	  
  
      });  
 
     //select all the a tag with name equal to modal
      $('a[name=sentence_comment]').click(function () {

          //Cancel the link behavior
         // e.preventDefault();

          //Get the A tag
         // var id = $(this).attr('href');
          $('#dialog_new_term_test').show();

          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $('#dialog_new_term_test').css('top', winH / 2 - $('#dialog_new_term_test').height() / 2);
          $('#dialog_new_term_test').css('left', winW / 2 - $('#dialog_new_term_test').width() / 2);
  
          //transition effect
          $('#dialog_new_term_test').fadeIn(2000);
	  
	  
  
      });  

     //select all the a tag with name equal to modal
      $('a[name=sentence_tag]').click(function () {

          //Cancel the link behavior
         // e.preventDefault();

          //Get the A tag
         // var id = $(this).attr('href');
          $('#dialog_new_term_test').show();

          //Get the screen height and width
          var maskHeight = $(document).height();
          var maskWidth = $(window).width();
  
          //Set heigth and width to mask to fill up the whole screen
          $('#mask').css({
              'width': maskWidth,
              'height': maskHeight
          });
  
          //transition effect		
          $('#mask').fadeIn(1000);
          $('#mask').fadeTo("slow", 0.8);
  
          //Get the window height and width
          var winH = $(window).height();
          var winW = $(window).width();
  
          //Set the popup window to center
          $('#dialog_new_term_test').css('top', winH / 2 - $('#dialog_new_term_test').height() / 2);
          $('#dialog_new_term_test').css('left', winW / 2 - $('#dialog_new_term_test').width() / 2);
  
          //transition effect
          $('#dialog_new_term_test').fadeIn(2000);

  
      });  


      
      //if close button is clicked
      $('.window .close').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          $('#mask').fadeOut(200);
          $('.window').fadeOut(200);
      });     




