= javascript_include_tag "tool-tip.js"
%table{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "100%", :id => "result_block"}
  %tr
    %th.first_td  
    %th{:width => "40%"} English
    %th  Arabic
    %th.last_edit Functions
  %div
    - if !@sentences.blank? 
      - for sentence in @sentences
        %div
          %tr{:onmouseout => "this.style.background=''", :id => "singlerow_#{sentence.id}",:onmouseover => "this.style.background='#e3f3ff'" , :class => cycle("odd", "table_structure_inner_color")}
            %td
              - if (sentence.flagged_by_id != nil)
                %img{:alt => "flag", :src => "/images/clients/flag.png"}/
              - else  
                %img{:alt => "unflag", :src => "/images/clients/unflag.png"}/

            %td
              %div{:style => "float:left"}
                %span.toolTip_text{:title=>"#{show_comment(sentence.id)}"}
                  = sentence.text
              .tag_box_display
                %ul
                  - sentence.tags.each do |tag|
                    %li
                      .tags
                        = tag.tag
                        - if can? :tag_delete, sentence     
                          %span
                  
                            = link_to image_tag("/images/pagination/close_tags.gif"), deletetag_url(:tag_id => tag,:id => params[:id]),:confirm => "Are you sure you want to delete tag", :remote => 'true' 

            %td{:style => "text-align:right;direction:rtl;"}
              %span.toolTip_text{:title=>"#{show_comment(sentence.id)}",:style => "font-size:14px;"}
                = get_arabic_data(sentence.id)
            %td
              .user_action_block.glossary_user_action_block
                .add_view_1.glossary_links
                  %ul
                    - if can? :update_sentence, sentence
                      %li
                        = link_to "Edit", edit_sentence_url(:sid => sentence.id), :remote => :true,:id=>"edit_sentence",:class=>"menuitem statusicon_1",:name => "sentence_edit"
                    - if can? :add_flag, sentence
                      %li
                        = link_to "Flag", addflag_url(:sid => sentence.id,:id => params[:id]), :remote => :true
                    - if can? :create_tag, sentence
                      %li
                        = link_to "Tag",new_tag_url(:sid=> sentence.id),:remote => :true,:id=>"tag_sentence",:class=>"menuitem statusicon_1",:name => "sentence_tag"
		      
                    %li
                      = link_to "Comment",comments_url(:sid=> sentence.id),:remote => :true,:id=>"comment_sentence",:class=>"menuitem statusicon_1",:name => "sentence_comment"
                    - if can? :delete_sentence, sentence
                      %li
                        = link_to "Delete",delete_sentence_url(:id => sentence),:confirm => "Are you sure you want to delete term", :remote => :true


      / head block wrapper end
    - else
      %tr{:onmouseout => "this.style.background='#f8f8f8'", :onmouseover => "this.style.background='#e3f3ff'"}
        %td
          &nbsp;

        %td{:colspan => 3} No Results Found with your search
      

.clear_all
.pagination_block
  = paginate @sentences,  :remote => :true
  
= javascript_include_tag "popupwindow.js"      






