- form_for :sentence, :url => {:action => "create_comment",:sid => @sentence.id} ,:remote => "true" do
        
  #pop_login_wrapper
    .head_login
      %span Comments /Q&A (#{@sentence.comments.length})  
    
      %a.close.close_form{:href => "#"}
    #pop_loging_form.fl_left
      .inner_login_wrap
 

        - @sentence.comments.each do |comment|

          %p{:style=>"padding:5px;"}
            - if comment.author
              = image_tag comment.author.avatar(:small),:class => "fl_left",:style => "margin-right:5px;",:width => "40",:height=> "40"
              = comment.author.user_name
            - else
              = image_tag("/images/avatar.png",:class => "fl_left",:style => "margin-right:5px;",:width => "40",:height=> "40")
              = comment.gigaauthor.username

            %br
            = comment.created_at.to_s(:db)
            %br

          %p
            = comment.comment
        .clear_all




        .form_block_two.fl_left.mag_non
          %label.fl_left.text_indent Comment
          %br.clear_all/
          %label.fl_left.input_width_12.textarea_width_12
            = text_area :comment, :comment
          .clear_all
          .error_msg dd

        .form_block_two.fl_left.mag_non
          %label.fl_left.input_width_12{:style => "background:none"}
            %input.sign_submit.create_submit{:type => "submit", :value => "Save",:id => "create_term_btn"}/
      .clear_all
      / Lead form end
      
:javascript

      //if close button is clicked
      $('.window .close').click(function (e) {
          //Cancel the link behavior
          e.preventDefault();
  
          $('#mask').fadeOut(200);
          $('.window').fadeOut(200);
      }); 


