= javascript_include_tag "tool-tip.js"
%table{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "100%", :id => "result_block"}
  %tr
    %th.first_td  
    %th Author
    %th Target Type
    %th Action
    %th Date    
  %div
    - if !@glossary_actions.blank? 
      - for action in @glossary_actions
        %div
          %tr
            %td 
              &nbsp;

            %td
              %div{:style => "float:left"}
                %span
                  = action.user ? action.user.user_name : action.gigauser.username



            %td
              %span
                = action.target_type
            %td
              %span
                = action.action
            %td
              %span
                = action.created_at.strftime("%b-%d-%Y")

      / head block wrapper end
    - else
      %tr
        %td
          &nbsp;

        %td{:colspan => 3} No Results Found with your search
      

.clear_all
.pagination_block
  = paginate @glossary_actions,  :remote => :true
  







