
#contentwrapper
  #contentcolumn
    #accordion.innertube-1
      / head block wrapper
      .head_project_wrapper
        / heading
        .heading_project_blocks
          %h2.fl_left Nord Anglia Education - Glossary

        .fl_right{:style => "width:auto;"}
          %p.glossary{:style => "padding-top:0px; font-size:16px; line-height:15px"}
            %b.numb #{@sentences.total_count}
            %b terms
        / heading end
        %br.clear_all/
      %div
        %ul#alphabet_listing
          %li
            = link_to "A", glossary_search_path(:letter => 'a',:id => params[:id]), :remote => 'true',:id => "char_search_0"
          %li
            = link_to "B", glossary_search_path(:letter => 'b',:id => params[:id]), :remote => 'true',:id => "char_search_1"
          %li
            = link_to "C", glossary_search_path(:letter => 'c',:id => params[:id]), :remote => 'true',:id => "char_search_2"
          %li
            = link_to "D", glossary_search_path(:letter => 'd',:id => params[:id]), :remote => 'true',:id => "char_search_3"
          %li
            = link_to "E", glossary_search_path(:letter => 'e',:id => params[:id]), :remote => 'true',:id => "char_search_4"
          %li
            = link_to "F", glossary_search_path(:letter => 'f',:id => params[:id]), :remote => 'true',:id => "char_search_5"
          %li
            = link_to "G", glossary_search_path(:letter => 'g',:id => params[:id]), :remote => 'true',:id => "char_search_6"
          %li
            = link_to "H", glossary_search_path(:letter => 'h',:id => params[:id]), :remote => 'true',:id => "char_search_7"
          %li
            = link_to "I", glossary_search_path(:letter => 'i',:id => params[:id]), :remote => 'true',:id => "char_search_8"
          %li
            = link_to "J", glossary_search_path(:letter => 'j',:id => params[:id]), :remote => 'true',:id => "char_search_9"
          %li
            = link_to "K", glossary_search_path(:letter => 'k',:id => params[:id]), :remote => 'true',:id => "char_search_10"
          %li
            = link_to "L", glossary_search_path(:letter => 'l',:id => params[:id]), :remote => 'true',:id => "char_search_11"
          %li

            = link_to "M", glossary_search_path(:letter => 'm',:id => params[:id]), :remote => 'true',:id => "char_search_12"
          %li
            = link_to "N", glossary_search_path(:letter => 'n',:id => params[:id]), :remote => 'true',:id => "char_search_13"
          %li
            = link_to "O", glossary_search_path(:letter => 'o',:id => params[:id]), :remote => 'true',:id => "char_search_14"
          %li
            = link_to "P", glossary_search_path(:letter => 'p',:id => params[:id]), :remote => 'true',:id => "char_search_15"
          %li
            = link_to "Q", glossary_search_path(:letter => 'q',:id => params[:id]), :remote => 'true',:id => "char_search_16"
          %li
            = link_to "R", glossary_search_path(:letter => 'r',:id => params[:id]), :remote => 'true',:id => "char_search_17"
          %li
            = link_to "S", glossary_search_path(:letter => 's',:id => params[:id]), :remote => 'true',:id => "char_search_18"
          %li
            = link_to "T", glossary_search_path(:letter => 't',:id => params[:id]), :remote => 'true',:id => "char_search_19"
          %li
            = link_to "U", glossary_search_path(:letter => 'u',:id => params[:id]), :remote => 'true',:id => "char_search_20"
          %li
            = link_to "V", glossary_search_path(:letter => 'v',:id => params[:id]), :remote => 'true',:id => "char_search_21"
          %li
            = link_to "W", glossary_search_path(:letter => 'w',:id => params[:id]), :remote => 'true',:id => "char_search_22"
          %li
            = link_to "X", glossary_search_path(:letter => 'x',:id => params[:id]), :remote => 'true',:id => "char_search_23"
          %li
            = link_to "Y", glossary_search_path(:letter => 'y',:id => params[:id]), :remote => 'true',:id => "char_search_24"
          %li
            = link_to "Z", glossary_search_path(:letter => 'z',:id => params[:id]), :remote => 'true',:id => "char_search_25"
        .clear_all
          %span
        - form_for :search_terms, recent_activity_url do 
          #search_swap_block.fl_left
            %label
              %b Search Terms
              \-
            %label From :
            %label
              %select
                %option English
                %option Arabic
            %label
              %img{:alt => "swap", :height => "18", :src => "/images/clients/swap_ico.gif", :title => "swap", :width => "24"}/
            %label To :
            %label
              %select{:onchange => "this.form.submit();"}
                %option English
                %option Arabic
          %span{:id => "spinner",:style => "display:none;"}
            = image_tag(("/images/images/loader.gif"),:width => "20",:height => "20")
        .spacer.clear_all
          %span
        #tag_box_display
          #search_block.fl_left
            = form_for :search, :url => client_glossary_path, :html => { :method => :get, :remote => :true}  do
              = autocomplete_field_tag :text_search,params[:text_search],sentence_search_path,:class => "search_field"
              %input.search_input{:type => "submit", :value => " "}/
          %ul
            - @tags.each do |tag|
              %li
                .tags
                  = link_to tag[0], tagsearch_url(tag[0]), :remote => :true
                  %span
                    = tag[1]



        .clear_all
          %br
        #table_grid
          %div{ :id => "result_block"}

            = render :partial => 'atozsearch'

      / head block wrapper end
    .clear_all

#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "/dashboard"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Main Menu
    = link_to "New Term", new_sentence_url, :remote => :true,:id=>"popup",:class=>"menuitem statusicon_1"
    = link_to "Flagged", flagged_terms_url(:id => 'flagged'), :remote => :true,:class=>"menuitem statusicon_1",:id => "flagged_terms"
    = link_to "Recent Activity", recent_activity_url, :remote => :true,:class=>"menuitem statusicon_1",:id => "recent_activity"

    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Import
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Export
    .clear_all
      
#dialog_new_term_test.window
  #mydialog

#dialog.window
  .inner_block_modal
    %p Simple Modal Window |
    %a.close.close_form{:href => "#"}
      %span


:javascript

  $(document).ready(function($) {
  $("#popup").prepend('<img src="/images/clients/new_icon.png"}>');   
  $("#recent_activity").prepend('<img src="/images/new_page/view_details.png"}>');     
  $("#flagged_terms").prepend('<img src="/images/new_page/view_details.png"}>');    
  
  var toggleLoading = function() { $("#spinner").toggle()  };
  for(var i=0; i <27;i++){      
  $("#char_search_"+i).bind('click',toggleLoading);}
  });

