


#contentwrapper
  #contentcolumn
    #accordion.innertube-1
      / head block wrapper
      .head_project_wrapper
        / heading
        .heading_project_blocks
          %h2.fl_left Nord Anglia Education - Glossary

        .fl_right{:style => "width:auto;"}
          %p.glossary{:style => "padding-top:0px; font-size:16px; line-height:15px"}
            %b.numb #{@sentences.total_count}
            %b terms
        / heading end
        %br.clear_all/
      %div
        %ul#alphabet_listing
          %li
            = link_to "A", glossary_search_path(:letter => 'a'), :remote => 'true',:id => "char_search"
          %li
            = link_to "B", glossary_search_path('b'), :remote => 'true',:id => "char_search"
          %li
            = link_to "C", glossary_search_path(:letter => 'c'), :remote => 'true',:id => "char_search"
          %li
            = link_to "D", glossary_search_path(:letter => 'd'), :remote => 'true',:id => "char_search"
          %li
            = link_to "E", glossary_search_path(:letter => 'e'), :remote => 'true',:id => "char_search"
          %li
            = link_to "F", glossary_search_path(:letter => 'f'), :remote => 'true',:id => "char_search"
          %li
            = link_to "G", glossary_search_path(:letter => 'g'), :remote => 'true',:id => "char_search"
          %li
            = link_to "H", glossary_search_path(:letter => 'h'), :remote => 'true',:id => "char_search"
          %li
            = link_to "I", glossary_search_path(:letter => 'i'), :remote => 'true',:id => "char_search"
          %li
            = link_to "J", glossary_search_path(:letter => 'j'), :remote => 'true',:id => "char_search"
          %li
            = link_to "K", glossary_search_path(:letter => 'k'), :remote => 'true',:id => "char_search"
          %li
            = link_to "L", glossary_search_path(:letter => 'l'), :remote => 'true',:id => "char_search"
          %li

            = link_to "M", glossary_search_path(:letter => 'm'), :remote => 'true',:id => "char_search"
          %li
            = link_to "N", glossary_search_path(:letter => 'n'), :remote => 'true',:id => "char_search"
          %li
            = link_to "O", glossary_search_path(:letter => 'o'), :remote => 'true',:id => "char_search"
          %li
            = link_to "P", glossary_search_path(:letter => 'p'), :remote => 'true',:id => "char_search"
          %li
            = link_to "Q", glossary_search_path(:letter => 'q'), :remote => 'true',:id => "char_search"
          %li
            = link_to "R", glossary_search_path(:letter => 'r'), :remote => 'true',:id => "char_search"
          %li
            = link_to "S", glossary_search_path(:letter => 's'), :remote => 'true',:id => "char_search"
          %li
            = link_to "T", glossary_search_path(:letter => 't'), :remote => 'true',:id => "char_search"
          %li
            = link_to "U", glossary_search_path(:letter => 'u'), :remote => 'true',:id => "char_search"
          %li
            = link_to "V", glossary_search_path(:letter => 'v'), :remote => 'true',:id => "char_search"
          %li
            = link_to "W", glossary_search_path(:letter => 'w'), :remote => 'true',:id => "char_search"
          %li
            = link_to "X", glossary_search_path(:letter => 'x'), :remote => 'true',:id => "char_search"
          %li
            = link_to "Y", glossary_search_path(:letter => 'y'), :remote => 'true',:id => "char_search"
          %li
            = link_to "Z", glossary_search_path(:letter => 'z'), :remote => 'true',:id => "char_search"
        .clear_all
          %span
        #search_swap_block.fl_left
          %label
            %b Search Terms
            \-
          %label From :
          %label
            %select
              %option English
              %option Arabic
          %label
            %img{:alt => "swap", :height => "18", :src => "/images/clients/swap_ico.gif", :title => "swap", :width => "24"}/
          %label To :
          %label
            %select
              %option English
              %option Arabic
          %span{:id => "spinner",:style => "display:none;"}
            = image_tag(("/images/images/loader.gif"),:width => "20",:height => "20")
        .spacer.clear_all
          %span
        #search_block.fl_left
          %input.search_field{:type => "text"}/
          %input.search_input{:type => "submit", :value => " "}/
        #tag_box_display
          %ul
            %li
              .tags
                SCIENCE
                %span 12
            %li
              .tags
                PHP EXPERTS
                %span 5
            %li
              .tags
                ROR EXPE
                %span 12
            %li
              .tags
                SCIENCE
                %span 12

        .clear_all
          %br
        #table_grid
          %div{ :id => "result_block"}

            = render :partial => 'atozsearch'

      / head block wrapper end
    .clear_all

#leftcolumn
  / vertical menu
  .glossymenu
    %a.menuitem.statusicon_1{:href => "/dashboard"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Dashboard
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/clients/new_icon.png"}>/
      New Term

    %a.menuitem.statusicon_1{:href => "/client/flagged"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Flagged
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Recent Activity
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Import
    %a.menuitem.statusicon_1{:href => "#"}
      %img{:src => "/images/new_page/view_details.png"}>/
      Export
    .clear_all

:javascript

  $(document).ready(function($) {
  var toggleLoading = function() { $("#spinner").toggle()  };  
  $("#char_search").bind('click',toggleLoading);
  });