- @room = 'glossary'
- content_for :parent do
  #glossary-search
    #glossary-search-box
      %h3 Search the Mawhiba glossary
      = form_tag glossary_sentences_path, :method => 'get', :id => "sentence_search_form" do
        %p
          = text_field_tag :sentence_search, params[:sentence_search]
          = submit_tag "Search", :name => nil
    #glossary-sentences
      %ul
        - if @sentences.empty?
          - if params[:sentence_search]
            %em No matching sentence found
          - else
            %em Enter part of a sentence to search
        - else
          - @sentences.entries.each do |sentence|
            %li
              = language_flag_for(sentence)
              = link_to truncate(sentence.text, :length => 40, :omission => '...'), glossary_sentence_path(sentence)
      %p
        = link_to 'Add a sentence', new_glossary_sentence_path

- content_for :main do
  #glossary-page
    = yield
= render :file => 'layouts/application'