- @room = 'glossary'
- if @sentences
  - content_for :parent do
    %ul.tabs
      %li
        %a{:href=> glossary_words_path} Words
      %li
        %a{:href=> glossary_sentences_path, :class => 'current'} Sentences
    .panes
      %div
        = form_tag glossary_sentences_path, :method => 'get', :id => "sentence_search_form" do
          %p
            = text_field_tag :sentence_search, params[:sentence_search]
            = submit_tag "Search", :name => nil
        %ul#glossary-sentences
          - @sentences.entries.each do |sentence|
            %li
              = language_flag_for(sentence)
              = link_to truncate(sentence.text, :length => 40, :omission => '...'), glossary_sentence_path(sentence)
        %p
          = link_to 'Add a sentence', new_glossary_sentence_path
- else
  - content_for :parent do
    %ul.tabs
      %li
        %a{:href=> glossary_words_path, :class => 'current'} Words
      %li
        %a{:href=> glossary_sentences_path} Sentences
    .panes
      %div
        = form_tag glossary_words_path, :method => 'get', :id => "word_search_form" do
          %p
            = text_field_tag :word_search, params[:word_search]
            = submit_tag "Search", :name => nil
        %ul#glossary-words
          - @words.entries.each do |word|
            %li
              = language_flag_for(word)
              = link_to word.word, glossary_word_path(word)
        %p
          = link_to 'Add a word', new_glossary_word_path

- content_for :main do
  %h2 Gigavine glossary
  = yield
= render :file => 'layouts/application'
