- @room = 'glossary'
- content_for :parent do
  #glossary-search
    #glossary-search-box
      %h3 Search the Mawhiba glossary
      = form_tag glossary_sentences_path, :method => 'get', :id => "sentence_search_form" do
        %p
          = label_tag      :sentence_search, 'Enter part of a sentence to search', :class => 'infield'
          = text_field_tag :sentence_search, params[:sentence_search]
          = submit_tag "Search", :name => nil
      %ul#glossary-nav
        %li
          - if params[:action] == 'recent'
            %em.active Recently updated
          - else
            = link_to 'Recently updated', recent_glossary_sentences_path          
        %li
          - if params[:action] == 'flagged'
            %em.active Flagged
          - else
            = link_to 'Flagged', flagged_glossary_sentences_path
        %li
          - if can? :create, Sentence
            = link_to 'Add a sentence', new_glossary_sentence_path
          - else
            %em.disabled Add a sentence
    #glossary-sentences
      %ul
        - if !@sentences || @sentences.empty?
          - if params[:sentence_search]
            %em No matching sentence found
        - else
          - @sentences.entries.each do |sentence|
            %li
              = language_flag_for(sentence)
              = link_to truncate(sentence.text, :length => 40, :omission => '...'), glossary_sentence_path(sentence)

- content_for :main do
  #glossary-page
    = yield
= render :file => 'layouts/application'