%h2 Edit Subgroup
%div{:style=>"height:350px; overflow-y:scroll; overflow-x:hidden;"}
  .box.sentence
    = form_for @group, :url => {:action => :update,:group_id => @find_group.id} do |d|
      = render "shared/error_messages", :target => @group  

      = d.text_field :name
      = hidden_field :group,:parent_id,:value => @find_group.id
      = d.text_area :description,:style => "width:326px; height:89px;"
 
      %div{:style => "width:150px; float:left;"}  
        = d.submit t(:edit_group)
