
- content_for :parent do

  %br


- content_for :main do
  %h3{:style => "padding-top:20px;"}
    = link_to @group.name, admin_groups_url 
    %span > Subgroups
  %div{:class => "clear"}
  = link_to "Create Subgroup",new_admin_sub_group_path(:group => @group.id), :rel => "#new_group", :id => "create_group", :'class' => 'overlay-switch',:remote => :true  
  
  
  - if !@sub_groups.blank?
    #datain1.left_middle{:style => "display:block;"}
      .grouptable_structure
        %ul
          %li.name{:style=>"margin-left:20px;"}
            %a{:href => "#"} Name
          %li.name
            %a{:href => "#"} Description
      - @sub_groups.each_with_index do |group,j| 
        %div{:class => cycle("grouptable_structure_inner", "grouptable_structure_inner_color")}
          %ul
                        
            %li.name1
             
              = group.name
            %li.date1
              = group.description
            %li.view
              %span>/
              = link_to "Edit",edit_admin_sub_group_path(group, :group => @group.id), :rel => "#new_group", :id => "group_edit", :'class' => 'overlay-switch',:remote => :true
              |
              %span>/
              = link_to "Delete", admin_sub_group_path(group,:group => @group.id), :confirm => 'Are you sure want to delete subgroup? ', :method => :delete,:title => "Click here to delete subgroup"
              |
              %span>/
              = "Users"
            

              %div{:class => "clear"}
 
  -else
    %br
    = "No Subgroups has been created yet. Please add a subgroup by clicking on the link"


  #new_group.simple_overlay
    #group


