.box.word
  %h2 Edit Translation for:
  %h3
    = link_to @definition.word.word, glossary_word_translation_path(@definition.word, @translation)
    = language_flag_for(@definition.word)
  = form_for @translation, :url => glossary_word_definition_translations_path(@definition.word, @definition) do |w|
    = render "shared/error_messages", :target => @translation
    = w.select     :language, Gigavine::Preferences.translated_languages
    = w.text_field :word
    = w.submit