.box.contact

  %h2 New Employ
  = form_for @contact, :url =>{:action => :update,:id => @contact.id} do |c|
    = render "shared/error_messages", :target => @contact
    %h3 Details
    = c.text_field :title
    = c.text_field :first_name
    = c.fields_for :contact_information do |m|  
      = m.text_field :middle_name
 
    = c.text_field :last_name
    = c.fields_for :contact_information do |m|  
      = m.select :suffix, Gigavine::Preferences.suffixes
    %br/
    = c.text_field :email
    = c.fields_for :contact_information do |m|  
      = m.text_field :email2,:label => "Alternate Email"
    =# c.select :group_id, @groups.map {|u| [u.name,u.id]},:label => "Select Group"

    %br/
    
    %h3 Home Address:
    = c.fields_for :contact_information do |m|     
      = m.text_field :home_street,:label => "Street"
      = m.text_field  :home_city,:label => "City"
      = m.text_field  :home_state,:label => "State"
      = m.text_field  :home_postal_code,:label => "Postal Code" 
      = m.select :home_country,country_options_for_select(:country, [@contact.contact_information.home_country]),:label => "Country" 
      = m.text_field  :home_phone,:label => "Phone" 
      = m.text_field  :home_fax,:label => "Fax"
      
      %h3 Personal Information:      
      = m.date_select :dob, :start_year => 1950 , :end_year => 2000, :label => "Date of Birth"
      = m.text_field :qualification,:label => "Qualification"

      = m.hidden_field :group_id, :value => 2 

      %h3 Other Information:
      = m.text_field :department,:label => "Department"      
      = m.text_field :company,:label => "Company"
      = m.text_field :mobile_phone,:label => "Mobile"
      = m.text_field :pager
      = m.text_area :notes, {:style=>"height:100px;width:300px;"}
      = m.text_field :web_page,:label => "Web Page"


    %br/
    = c.submit "Update Employ"