 

.box.contact

  %h2 Talent Registration
  = form_for @talent, :url =>{:action => :create} do |c|
    = render "shared/error_messages", :target => @talent
    %h3 Contact Details
    = c.text_field :title
    = c.text_field :first_name
    = c.text_field :last_name,:onblur => "pmsurl();"
    = c.text_field :email
    = c.select :current_location,country_options_for_select(:current_location, ['United Kingdom', 'United Arab Emirates']),:label => "Current Location"
    = c.text_field :mobile
    = c.text_field :phone
    
    %br/
    %h3 Current Professional Details 
   
    %table(width="500" cellpadding="0" cellspacing="0" )
      %tr
        %td(width="10")
          = c.select :exp_years, Gigavine::Preferences.year_details
       
        %td(width ="400")
 
          = c.select :exp_months, Gigavine::Preferences.month_details





    = c.text_field :rating, :label=>"Rating on your skills (out of 10)", :style=>"width:100px"
 
    
    %table(width="500" cellpadding="0" cellspacing="0" )
      %tr
        %td(width="10")
          = c.text_field :rate, :label => "Rate", :style=>"width:100px"
       
        %td(width ="400")
          = c.select :rate, Gigavine::Preferences.currency_convert
	  
	  
	  
 
    = c.select( "language_id", @languages.collect {|u| [u.name,u.id]},:label => "Select Languages")

 
    
    
    
    %table(width="500" cellpadding="0" cellspacing="0" )
      %tr
        %td
          %div
            %div{:style=>"float:left;"}
              = c.select( "skill_id", @skills.collect {|u| [u.title,u.id]},:label => "Select Skills") 
            %div{:style=>"float:left; width:130px; margin-left:20px;"}
 
              = c.select :exp_years, Gigavine::Preferences.year_details
            %div{:style=>"float:left; width:130px;"}
              = c.select :exp_months, Gigavine::Preferences.month_details

    
    

    %br/
    %h3 Project Details 
    = c.text_field :project_experience, :label=>"Previous Project Name"	
	
    = c.text_field :previous_client, :label=>"Previous Client"	

 
    %div{:style => "width:610px;"}
      %div{:style => "width:300px; float:left;"}
        %div From
        %div
          %div{:style => "float:left; margin:0px 10px 0px 0px"}
 
            = c.select :exp_months, Gigavine::Preferences.month_details
          %div{:style => "float:left;"}
            = c.select :exp_years, Gigavine::Preferences.exp_years
      %div{:style => "width:300px; float:left;"}
        %div To
        %div
          %div{:style => "float:left; margin:0px 10px 0px 0px"}
            = c.select :exp_months, Gigavine::Preferences.month_details
          %div{:style => "float:left;"}
            = c.select :exp_years, Gigavine::Preferences.exp_years
    %br/
    %div{:style => "width:610px;"}
      = c.select( "skill_id", @skills.collect {|u| [u.title,u.id]},:label => "Skills Used") 



    %br/
    %h3 Attached Documents 
    = c.file_field :resume, :label=>"Experience Document"



    %h3 Personal Details
    = c.text_field :first_line
    = c.text_field :second_line
    = c.select "gender", options_for_select(["Select", "Male", "Female"] );
    = c.text_field :city
    = c.text_field :state
    = c.text_field :zip_code
    = c.text_field :country
    = c.text_field :po_box
 




    %br/
    %div{:style => "width:610px;"}
      = c.submit "Create Talent" 
	