 
%script{:type => "text/javascript"}
  jQuery(document).ready( function() {
  setTimeout(function(){ jQuery("#message").fadeOut(); }, 5000);
  });

/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1
      - if flash[:notice]
        .success_message{:id => 'message'}
          %span
          = flash[:notice]
      / head block wrapper
      .head_block_wrapper
        / heading
        .heading_inner_blocks
          %h2 Brief Details
        / heading end

        %br.clear_all/



        .spacer.clear_all
          %span
        .spacer.clear_all
          %span 
        / table grid block
        .grid_wrapper
          %table.myTable01{:cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr

                %th Name
                %th Email
                %th Download

            %tbody
              - if !@brief_details.blank?
                - @brief_details.each_with_index do |brief_detail,j| 
                  %tr

                    %td 
                      = brief_detail.name
                    %td 
                      = brief_detail.email
                    %td 
                      = brief_detail.attachment_file_name 
                      =  link_to "Download", brief_details_download_admin_prospects_url(:id => brief_detail.id)


            / table grid block end
    .clear_all
  / content wrapper end
= render :partial => "admin/leads/leftmenu"
 
    

