 
%script{:type => "text/javascript"}
  jQuery(document).ready( function() {
  setTimeout(function(){ jQuery("#message").fadeOut(); }, 5000);
  });

/ content wrapper
#contentwrapper
  #contentcolumn
    .innertube-1
      - if flash[:notice]
        .success_message{:id => 'message'}
          %span
          = flash[:notice]
      / head block wrapper
      .head_block_wrapper
        / heading
        .heading_inner_blocks
          %h2 Prospects
        / heading end

        %br.clear_all/



        .spacer.clear_all
          %span
        .spacer.clear_all
          %span 
        / table grid block
        .grid_wrapper
          %table.myTable01{:cellpadding => "0", :cellspacing => "0"}
            %thead
              %tr

                %th Name
                %th Email
                %th Phone
                %th Contry
                %th Subject
                %th Move To

            %tbody
              - if !@prospects.blank?
                - @prospects.each_with_index do |prospect,j| 
                  %tr

                    %td 
                      = prospect.name
                    %td 
                      = prospect.email
                    %td 
                      = prospect.phone
                    %td 
                      = prospect.country
                    %td 
                      = prospect.subject
                    - form_for :move, :url => {:action => "move_to"} do
                      = hidden_field_tag :prospect_id, prospect.id
                      %td
                        = select_tag :move_to, options_for_select(['Sales','Lead','Customer','Marketing']),:onchange => "this.form.submit();"
              - else
                %tr
                  %td{:colspan => 6,:style=> "text-align:center;"}
                    = "No Prospects created yet..."

            / table grid block end
    .clear_all
  / content wrapper end
= render :partial => "admin/leads/leftmenu"
 
    

