.box.sentence
  %h2 Edit Translation for:
  %p
    = language_flag_for(@sentence)
    = @sentence.text
  %p
    = link_to 'View original', glossary_sentence_translation_pair_path(@sentence, @translation)
  = form_for @translation, 'translation', :url => glossary_sentence_translation_pair_path(@sentence, @translation) do |t|
    = render "shared/error_messages", :target => @translation
    = t.select :language, Gigavine::Preferences.translated_languages
    = t.text_area :text
    = t.submit