
- if @msg
  %br
  = @msg
- elsif @find_images.blank?
  %br
  = "No images / files uploaded"
- else
  %div{:style => "padding-bottom:20px;"}
    = will_paginate @find_images,{:search => @search_word}

  .table_structure
  - @find_images.each_with_index do |doc,j|
    .mainimagewrapper
      .imagewrapper
        .middle_img
          .middle_img1
            .middle_img2
              %div{:style=>"position:absolute;width:16px;height:16px;z-index:1;background:#f5f5f5;bottom:0;right:0"}
                = link_to image_tag("/images/zoom-in.png"),view_uploadimage_manage_images_path(:id => doc.id), :rel => "#large_image", :id => "image_view", :'class' => 'overlay-switch',:remote => :true,:title => "Click here to view large image"
              = image_tag doc.image.url(:thumb) 
      %ul
        %li
          = link_to image_tag("/images/img-view.png"),manage_image_path(doc), :rel => "#information", :id => "view_information", :'class' => 'overlay-switch',:remote => :true,:title => "Click here to view details"
          |
        %li
          = link_to image_tag("/images/img-download.png"),download_image_manage_images_path(:id => doc.id),:title => "Click here to download image"
          |
          
        %li
          = link_to image_tag("/images/img-edit.png"),edit_manage_image_path(doc), :rel => "#edit_upload", :id => "imageedit", :'class' => 'overlay-switch',:remote => :true,:title => "Click here to edit image details"
          |
        %li
          = link_to image_tag("/images/img-cancel.png"),manage_image_path(doc), :confirm => 'Are you sure? ', :method => :delete,:title => "Click here to delete image"
      
        %li{:style=>"width:130px; color:#000"}
          = truncate(doc.subject.titleize,:length => 35, :omission => '...')


%div{:class => "clear"}


  %div{:style=>"float:right; width:35%; margin:15px 0px 0px -40px;"}
    = link_to "Back",manage_images_path


    



