!!!
%html
  %head
    %title== #{yield :title}Gigaworks
    
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }/
    %meta{:name => "description", :content => "Gigaworks is gigavine's internal überapp" }
        
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'common.js'
    = javascript_include_tag "http://use.typekit.com/oul4lnj.js"
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    = csrf_meta_tag
  %body
    #wrapper
      #container
        #bar
          #room-switcher
            %ul#room-switcher-menu.tooltipped
              %li=link_to t(:'rooms.Contacts'), contacts_path, :id => :'room-switch-contacts', :title => t(:'rooms.Contacts')
              -# %li=link_to t(:'rooms.Schedule'), schedule_path, :id => :'room-switch-schedule', :title => t(:'rooms.Schedule')
              -# %li=link_to t(:'rooms.Leads'),    contacts_path, :id => :'room-switch-leads', :title => t(:'rooms.Leads')
              %li=link_to t(:'rooms.Glossary'), glossary_path, :id => :'room-switch-glossary', :title => t(:'rooms.Glossary')
          #room-controls
            %h1 Gigaworx - prototype
          #bar-end
            #control-panel
              &nbsp;
            #account-panel
              = render 'shared/account'
        #mid{:class => @room}
          #parent
            = yield :parent # TODO or present a standard set of options
          #main
            - unless flash.empty?
              #flashes
                - flash.each do |type, msg|
                  %div{:class=>"#{type}"}= h msg
              -flash.clear
            = yield(:main) || yield
      #footer
        %h6 Gigaworks - Prototype &copy; 2010 Gigavine ltd.