!!!
%html
  %head
    %title== #{yield :title}Gigaworx
    
    %meta{:"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8" }/
    %meta{:name => "description", :content => "Gigaworx is gigavine's überapp" }
        
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = render 'documents/documents/colapse'
    = javascript_include_tag 'common.js'
    = javascript_include_tag "http://use.typekit.com/oul4lnj.js"
    = stylesheet_link_tag 'jquery-ui-1.8.2.custom.css' 	
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    = csrf_meta_tag
  %body
    #wrapper
      #container
        #bar
          = render 'shared/room_switcher'
          #room-controls
            //%h1 Mawhiba Educational Glossary
          #bar-end
            #control-panel
              &nbsp;
            #account-panel
              = render 'shared/account'
        #mid{:class => @room}
          #parent
            = yield :parent # TODO or present a standard set of options
          #main
            - unless flash.empty?
              #flashes
                - flash.each do |type, msg|
                  %div{:class=>"#{type}"}= h msg
              -flash.clear
            =  content_for?(:main) ? yield(:main) : yield
      #footer
        %h6== Gigaworx - Prototype &copy; #{Time.now.year} Gigavine ltd.