!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      - if @page_title
        = @page_title
      - else
        Gigavine
    =# javascript_include_tag "frontend/jquery.pikachoose.js"
    :javascript
      document.onselectstart=new Function('return false');
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
    =  javascript_include_tag 'rails.js'						
    = render :partial => "/pages/partials/script_files"
    /[if IE]
      <style type="text/css">
      \.sldCenter,.sldLeft,.sldRight{background:#0f0; top:-5px;}
      \.sliderBtn{ width:32px !important;}
      \.sldBtnLeft,.sldBtnRight{ width:16px!important;height:30px!important;}
      </style>
    /[if IE 7]
      <link href="/stylesheets/frontend/lt7.css" rel="stylesheet" type="text/css" media="all"/>
    /[if IE 8]
      <link href="/stylesheets/frontend/lt8.css" rel="stylesheet" type="text/css" media="all"/>
  %body
        
    - if !current_user.blank?
      - @user_type = current_user.class
      - if (@user_type == User && current_user.roles_mask = 1) || (@user_type == Gigauser && current_user.role == 'Client')       
        .topframe
          /%iframe{:src => "http://test.gigavine.com:4009/submenu"}

          .subframe.suckertreemenu
            %ul{:id => "treemenu1"}
              %li
                %a{:href => "#", :id => "home_new"} HOME 
              %li
                %a{:href => "#", :id => "languages_new"} LANGUAGES
                %ul{:style=>"margin-left:85px;"}
                  %li
                    %a{:href => "#", :title => "Copywriting",:id => "creative_copywriting_new"} Copywriting
                  %li
                    %a{:href => "#", :title => "Translation",:id => "language_translation_new"} Translation
                  %li
                    %a{:href => "#", :title => "Localisation",:id => "language_localisation_new"} Localisation
                  %li
                    %a{:href => "#", :title => "Consultancy",:id => "language_consultancy_new"} Consultancy


              %li
                %a{:href => "#", :id => "creative_new"} CREATIVE
                %ul{:style=>"margin-left:180px;"}
                  %li
                    %a{:href => "#", :title => "Artwork",:id => "creative_artwork_new"} Artwork
                  %li
                    %a{:href => "#", :title => "Advertising",:id => "creative_adv_new"} Advertising
                  %li
                    %a{:href => "#", :title => "Webdesign",:id => "creative_webdesign_new"} Web Design

                  %li
                    %a{:href => "#", :title => "Interactive",:id => "creative_interactive_new"} Interactive
              %li
                %a{:href => "#", :id => "technology_new"} TECHNOLOGY
                %ul{:style=>"margin-left:300px;"}
                  %li
                    %a{:href => "#", :title => "E-Learning",:id => "technology_learning_new"} E-Learning
                  %li
                    %a{:href => "#", :title => "E-Commerce",:id => "technology_commerce_new"} E-Commerce
                  %li
                    %a{:href => "#", :title => "Online Security",:id => "technology_security_new"} Online Security
                  %li
                    %a{:href => "#", :title => "Online Tools",:id => "language_tools_new"} Online Tools
              %li
                %a{:href => "#",:id => "projects_new"} PROJECTS
                %ul{:style=>"margin-left:390px;"}
                  %li
                    %a{:href => "#", :title => "Case Studies", :id => "project_case_studies_new"} Case Studies
              %li
                %a{:href => "#", :id => "contact_new"} CONTACT				
              %li
                %a{:href => "#", :id => "banner_new"} HOME BANNER
              %li
                %a{:href => "#", :id => "how_we_help_new"} HELP

              %li{:style=>"float:right;"}
                %a{:href => "/sign_out?q=0"} Logout

    

    = yield

    / footer block start
    = render :partial => "/pages/partials/footer"

= render :partial => "/pages/partials/editable_forms"

#message.sign_up{:style => "display:none; width:600px; font:20px Arial; text-align:center;"}
  %img{:alt => "", :src => "/images/frontend/foot_logo_colored.png", :title => ""}
  %h1
    = "Your brief has been submitted successfully, one of our project managers will be in-touch shortly."
  %br.clear
  %div

  .clear  

  %a#close_x.close.sprited{:href => "#"} close

#comingsoon.sign_up
  %div

  .clear  

  %a#close_x.close.sprited{:href => "#"} close
#client.sign_up{:style => "display:none; width:600px; font:20px Arial; text-align:center;"}
  %img{:alt => "", :src => "/images/frontend/foot_logo_colored.png", :title => ""}
  %h1
    = "Your registration was successfully completed."
  %br.clear
  %div

  .clear  

  %a#close_x.close.sprited{:href => "#"} close

