!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Gigavine
    =# init_tinymce_hammer_if_required
    = render :partial => "/pages/partials/script_files"
    /[if IE]
      <style type="text/css">
      \.sldCenter,.sldLeft,.sldRight{background:#0f0; top:-5px;}
      \.sliderBtn{ width:32px !important;}
      \.sldBtnLeft,.sldBtnRight{ width:16px!important;height:30px!important;}
      </style>
  %body
        
    .topframe
      /%iframe{:src => "http://test.gigavine.com:4009/submenu"}

      .subframe
        %ul
          %li
            %a{:href => "#", :id => "home_new"} HOME
          %li
            %a{:href => "#", :id => "languages_new"} LANGUAGES
          %li
            %a{:href => "#", :id => "creative_new"} CREATIVE
          %li
            %a{:href => "#"} TECHNOLOGY
          %li
            %a{:href => "#"} PROJECTS
          %li
            %a{:href => "#"} NETWORK
          %li
            %a{:href => "#", :id => "banner_new"} HOME BANNER
          %li{:style => "float:right;"}
            %a{:href => "#"} Logout

    

    = yield

    / footer block start
    = render :partial => "/pages/partials/footer"

#home_page.sign_up{:style => "display:none"}
  %h3#see_id  HOME
  %br.clear
  #tabvanilla.widget
    %ul.tabnav
      %li
        %a.c1{:href => "#create"} Create
      %li
        %a{:href => "#adapt"} Adapt
      %li
        %a{:href => "#deliver"} Deliver
    #create.tabdiv
      = form_for :frontend_page, :url => {:controller => "pages",:action => "home_create"},:html =>{:name => "forms1",:multipart => :true} do |f|
        = f.hidden_field :tab_type,  :value => "create"
        %label.headding1_label
          %strong Image:
          =# f.file_field :image,{:size => "110", :style=>"font:12px arial; height:20px; width:600px; position: relative;"}
          %input{:type=>"file", :name=>"frontend_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }
        %label.headding_label
          %strong Content:
          = f.text_area :content, :style => "width:600px;",  :value => get_data('home_create')

        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / /Create
    #adapt.tabdiv
      = form_for :frontend_page, :url => {:controller => "pages",:action => "home_create"},:html =>{:name => "forms1",:multipart => :true} do |f|
        = f.hidden_field :tab_type,  :value => "adapt"
        %label.headding1_label
          %strong Image:
          %input{:type=>"file", :name=>"frontend_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }
        %label.headding_label
          %strong Content:
          = f.text_area :content, :style => "width:600px;", :value => get_data('home_adapt')

        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / /Adapt
    #deliver.tabdiv
      = form_for :frontend_page, :url => {:controller => "pages",:action => "home_create"},:html =>{:name => "forms1",:multipart => :true} do |f|
        = f.hidden_field :tab_type,  :value => "deliver"
        %label.headding1_label
          %strong Image:
          %input{:type=>"file", :name=>"frontend_page[image]", :size=>"63", :style=>"font:12px arial; height:20px; width:600px; position: relative;" }
        %label.headding_label
          %strong Content:
          = f.text_area :content, :style => "width:600px;", :value => get_data('home_deliver')

        %p.send_btn1
          %input{:type=>"Submit" , :value=> "Submit"}
    / Deliver
  .clearspace  
  %div
    = form_for :frontend_page, :url => {:controller => "pages",:action => "home_create"},:html =>{:name => "forms1",:multipart => :true} do |f|
      = f.hidden_field :tab_type,  :value => "middle_content"
      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Title:
        = f.text_field :title,  :value => get_title('home_middle')

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Content:
        = f.text_area :content, :style => "width:600px;",  :value => get_data('home_middle')
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  
  .latest_maintab
    = form_for :frontend_page, :url => {:controller => "pages",:action => "home_create"},:html =>{:name => "forms1",:multipart => :true} do |f|
      = f.hidden_field :tab_type,  :value => "news_block"
      .latest_inputblock
        %label
          %strong Latest News
          = f.text_area :news,  :value => get_news('home_news_block')
      .latest_inputblock
        %label
          %strong Join&nbsp;the&nbsp;network
          = f.text_area :network,  :value => get_network('home_news_block')
      .latest_inputblock
        %label
          %strong Contact us
          = f.text_area :contact_us,  :value => get_contact('home_news_block')
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  %a#close_x.close.sprited{:href => "#"} close


#languages.sign_up{:style => "display:none"}
  %h3#see_id  LANGUAGES
  %br.clear
  %div
    = form_for :languages_page, :url => {:controller => "pages",:action => "language_create"},:html =>{:name => "lang_form"} do |f|
      = f.hidden_field :page_section,  :value => "languages_page"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading:
        = f.text_area :title, :style => "width:600px;", :value => get_languages('languages_page','title')

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :value => get_languages('languages_page','summary')
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  

  %a#close_x.close.sprited{:href => "#"} close

#creative.sign_up{:style => "display:none"}
  %h3#see_id  CREATIVE
  %br.clear
  %div
    = form_for :creative_page, :url => {:controller => "pages",:action => "creative_create"},:html =>{:name => "creative_form"} do |f|
      = f.hidden_field :page_section,  :value => "creative_page"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading:
        = f.text_area :title, :style => "width:600px;", :value => get_languages('creative_page','title')

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary:
        = f.text_area :content, :style => "width:600px;",  :value => get_languages('creative_page','summary')

      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Heading2:
        = f.text_field :news, :style => "width:600px;", :value => get_languages('creative_page','heading2')

      %label
        %strong{:style=>"font:14px Arial, Helvetica, sans-serif;"} Summary2:
        = f.text_area :network, :style => "width:600px;",  :value => get_languages('creative_page','summary2')

      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}
  .clear  

  %a#close_x.close.sprited{:href => "#"} close
		
#banner.sign_up{:style => "display:none"}
  %h3#see_id  Home Banner 
  %br.clear
  %div
    = form_for :banner_page, :url => {:controller => "pages",:action => "banner_create"},:html =>{:name => "banner_form1"} do |f|
      = f.hidden_field :page_section,  :value => "banner_one"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Banner 2:
        = f.text_area :title, :style => "width:600px;height:200px;"
        %input{:type=>"file", :name=>"banner_page[image]", :size=>"35", :style=>"font:12px arial; height:20px; width:600px; margin-left:123px;"}
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}

    = form_for :banner_page, :url => {:controller => "pages",:action => "banner_create"},:html =>{:name => "banner_form2"} do |f|
      = f.hidden_field :page_section,  :value => "banner_two"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Banner 3:
        = f.text_area :title, :style => "width:600px;height:200px;"
        %input{:type=>"file", :name=>"banner_page[image]", :size=>"35", :style=>"font:12px arial; height:20px; width:600px; margin-left:123px;"}
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}				

    = form_for :banner_page, :url => {:controller => "pages",:action => "banner_create"},:html =>{:name => "banner_form3"} do |f|
      = f.hidden_field :page_section,  :value => "banner_three"
      %label
        %strong{:style=>"font:12px Arial, Helvetica, sans-serif;"} Banner 4:
        = f.text_area :title, :style => "width:600px;height:200px;"
        %input{:type=>"file", :name=>"banner_page[image]", :size=>"35", :style=>"font:12px arial; height:20px; width:600px; margin-left:123px;"}
      %p.clearspace  
      %p.send_btn1
        %input{:type=>"Submit" , :value=> "Submit"}				



  .clear  

  %a#close_x.close.sprited{:href => "#"} close
