!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title
      - if @page_title
        = @page_title
      - else
        Gigavine
    = render :partial => "/pages/partials/script_files"
    /[if IE]
      <style type="text/css">
      \.sldCenter,.sldLeft,.sldRight{background:#0f0; top:-5px;}
      \.sliderBtn{ width:32px !important;}
      \.sldBtnLeft,.sldBtnRight{ width:16px!important;height:30px!important;}
      </style>
  %body
        
    .topframe
      /%iframe{:src => "http://test.gigavine.com:4009/submenu"}

      .subframe
        %ul
          %li
            %a{:href => "#", :id => "home_new"} HOME
          %li
            %a{:href => "#", :id => "languages_new"} LANGUAGES
          %li
            %a{:href => "#", :id => "creative_new"} CREATIVE
          %li
            %a{:href => "#", :id => "technology_new"} TECHNOLOGY
          %li
            %a{:href => "#"} PROJECTS
          %li
            %a{:href => "#"} NETWORK
          %li
            %a{:href => "#", :id => "banner_new"} HOME BANNER
          %li{:style => "float:right;"}
            %a{:href => "#"} Logout

    

    = yield

    / footer block start
    = render :partial => "/pages/partials/footer"

= render :partial => "/pages/partials/editable_forms"


